class ApplicationController < ActionController::<%= options.api? ? "API" : "Base" %>
<%- unless options.api? -%>
  # Only allow modern browsers supporting webp images, web push, badges, import maps, CSS nesting, and CSS :has.
  allow_browser versions: :modern
<%- if using_importmap? -%>

  # Changes to the importmap will invalidate the etag for HTML responses
  stale_when_importmap_changes
<% end -%>
<% end -%>
end
