// ----------------------------------------------------------------------------
// Dark Mode Styles for Rails Guided 2024 Redesign
// ----------------------------------------------------------------------------
//
// @include-media does not handle prefers-color-scheme so we are declaring this
// as an independent file with the overrides for dark mode. 

@media (prefers-color-scheme: dark) {
  body.guide {
    background-color: $gray-900;
    color: #fff;

    a {
      &:hover,
      &:active {
        color: $rf-brand-light;
      } // &:hover, &:active
      &:visited {
        color: $gray-400;
      } // &:visited
    } // a
    
    table {
      th {
        color: $gray-900;
        background-color: $gray-200;
      } // th
  
      tr {
        &:nth-child(even) {
          background-color: $gray-800;
        }
      }
    } // table

    h3 {
      a,
      a:link,
      a:visited {
        color: $gray-100;
      } // a, a:link, a:visited
    } // h3

    pre, code {
      color: $gray-200;
    } // pre, code

    nav#topNav {
      background-color: $gray-200;
      color: $gray-600;

      .more-info-links {
        background: $gray-900;
      } // .more-info-links

      li {
        border-bottom: 1px solid $gray-700;
      } // li
    } // nav#topNav

    header#page_header {
      nav#feature_nav {
        .header-logo {
          span#version_switcher {
            color: $gray-400;

            select {
              background-color: $gray-800;
              color: $gray-400;
            } // select
          } // span#version_switcher
        } // .header-logo

        ul.nav {
          li {
            background: $gray-900;
            border-bottom: 1px solid $gray-900;

            @include media('>desktop'){
              a,
              a:link,
              a:visited {
                color: $gray-100;
              } // a
            } // @include media('>desktop')
          } // li
        } // ul.nav
      } // nav#feature_nav
    } // header#page_header

    #guides {
      background: $gray-700;
      color: $gray-100;

      .guides-section {
        dd {
          a,
          a:link,
          a:visited {
            color: $gray-100;
          } // a

          a:hover,
          a:active {
            color: $rf-brand-light;
          } // a:hover
        } // dd
      } // .guides-section
    } // #guides

    footer#page_footer {
      background-color: $gray-200;
      color: $gray-900;
    } // footer#page_footer

    #feature {
      background-color: $gray-800;

      @include media('>desktop') {
        background-color: $gray-900;
      }

      #subCol {
        background-color: $gray-800; 

        ol {
          li {
            a,
            a:link,
            a:visited {
              color: $gray-100;
            }
            
            a:hover,
            a:active {
              color: $rf-brand-light;
            } // a
          } // li
        } // ol
      } // #subCol
    } // #feature
  } // body.guide
} // @media (prefers-color-scheme: dark