body.guide {

  -webkit-tap-highlight-color:rgba(38, 27, 35, 0);

  // ----------------------------------------------------------------------------
  // Typographic Baseline
  // ----------------------------------------------------------------------------
  
  :root {
    font-family: Inter, sans-serif;
    font-feature-settings: 'liga' 1, 'calt' 1; /* fix for Chrome */
  }
  @supports (font-variation-settings: normal) {
    :root { font-family: InterVariable, sans-serif; }
  }

  font-family: Inter, sans-serif;
  font-size: 1.125rem; /* 18px */
  font-style: normal;
  font-weight: 400;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;

  font-feature-settings: "liga" 1;
  @supports (font-variant-ligatures: common-ligatures) {
    font-feature-settings: normal;
    font-variant-ligatures: common-ligatures;
  }

  font-feature-settings: "onum" 1;
  @supports (font-variant-numeric: oldstyle-nums) {
    font-feature-settings: normal;
    font-variant-numeric: oldstyle-nums;
  }

  p {
    // Set hyphenation rules
    hyphenate-limit-lines: 2; /* Safari */
    -webkit-hyphenate-limit-before: 3;
    -webkit-hyphenate-limit-after: 2;
    hyphenate-limit-chars: 6 3 2; /* Not Safari */
    hyphenate-limit-last: always;

    @include media('>tablet') {
      // On larger screens, set a width of 45-75 characters, using em as ch 
      // has too much variation between various fonts
      min-width: 23em;
      max-width: 38em;
    }

    margin: 0 0 0.75em 0; // Space after paragraph
    text-align: left;

  } // p

  // Links

  a {

    &:link {
      color: $rf-brand;
      text-decoration: underline;
    }

    &:hover,
    &:active {
      color: $rf-brand-dark;
    }

    &:visited {
      color: $gray-600;
    }
  }

  abbr {
    hyphens: manual;
  }

  abbr.smallcaps {
    font-feature-settings: "smcp" 1, "c2sc" 1;
    @supports (font-variant-caps: all-small-caps) {
      font-feature-settings: normal;
      font-variant-caps: all-small-caps;
    }
  }

  // Tables
  table {
    border-collapse: collapse;
    font-variant-numeric: lining-nums tabular-nums;
    margin: 2em auto;
    width: 100%;

    caption {
      caption-side: bottom;
    }

    th {
      background-color: $gray-700;
      color: #fff;
      font-size: 0.875em;
      padding: 0.5em;
      text-align: left;
    }

    tr {
      &:nth-child(even) {
        background-color: $gray-100;
      }
    }

    td {
      padding: 0.5em;
    }
  }

  // Headlines
  // TODO: media queries to increase font size, current sizes are for desktop, so drop base to mobile appropriate and MQ up twice (min width 60/120 em, minheight 30/60em)
  // Font family is Calibre, declared globally
  h1 {
    color: $rf-brand;
    font-family: 'Calibre', sans-serif;
    font-size: 3rem; /* 48px */
    font-weight: 700; /* Light */
    line-height: 1em;
    margin-top: 0;

    @include media('<desktop') { margin-top: 0.5em; }
  } // h1

  h2 {
    font-family: 'Calibre', sans-serif;
    font-size: 2.25rem; // Calibre is smaller than inter at the same size
    font-weight: 700; /* Bold */

    a,
    a:link,
    a:visited {
      color: $rf-brand;
    } // a, a:link, a:visited
  } // h2

  h3 {
    font-size: 1.5rem; /* 24px */
    font-weight: 600; /* Semibold */

    a,
    a:link,
    a:visited {
      color: $gray-900;
    } // a, a:link, a:visited

    code {
      font-size: 1.5rem;
      font-weight: 400;
    }
  } // h3

  h4 {
    font-size: 1.125rem;

    code {
      font-size: 1.125rem;
      font-weight: 400;
    }
  }

  h5 {
    font-size: 0.9375rem;

    code {
      font-size: 0.9375rem;
      font-weight: 400;
    }
  }

  h1, h2, h3, h4, h5 {
    a,
    a:link {
      text-decoration: none;
    } // a, a:link

    a:hover,
    a:active {
      text-decoration: underline;
    } // a:hover, a:active

    span {
      font-weight: 400;
    }
  } // h1, h2, h3, h4

  // Old style numbers look weird in headlines and ordered lists, so use proportional lining numbers
  h1, h2, h3, h4, h5, h6, ol, ol > li {
    font-feature-settings: "kern" 1;
    @supports (kerning: normal) {
      font-feature-settings: normal; 
      kerning: normal;
    }
    font-feature-settings: "lnum" 1;
    @supports (font-variant-numeric: lining-nums) {
      font-feature-settings: normal;
      font-variant-numeric: lining-nums;
    }
  }

  // Horizontal Rule
  hr {
    height: 1em;
    border: 0;
    background: url("../images/hr_rails.svg") center no-repeat;
    background-size: contain;
    margin: 1em auto;
    width: 90%;

    @include media('>tablet') {
      height: 1.5em;
    }

    @include media('>desktop-ultra-wide') {
      height: 2em;
    }

    &.hide {
      height: 0 !important;
    }
  }

  // Definition Lists

  dl {
    margin: 0;
    
    dt {
      font-weight: bold;
      font-size: 1.125rem;
      padding: 0.125em 0 0.25em 0;
      margin-bottom: 0.75em;

      @include media('<phone-wide') {
        font-size: 1rem;
      } // @include media('<phone-wide')
    } // dt

    dd {
      padding: 0.25em 0 1em;
      border-bottom: 1px solid $gray-500;
      margin: 0 0 1em 0;
    } // dd
  } // dl
  
  // :where(&[dir="ltr"]) dd { margin-left: 1.5em; }
  // :where(&[dir="rtl"]) dd { margin-right: 1.5em; }

  // :where(&[dir="ltr"]) :is(dd) { margin-left: 0; padding-left: 0; }
  // :where(&[dir="rtl"]) :is(dd) { margin-right: 0; padding-right: 0; }

  li {
    margin-bottom: 0.5em;
  }

  // Code

  pre, code {
    font-size: 1rem;
    font-family: "IBM Plex Mono", "Anonymous Pro", "Inconsolata", "Menlo", "Consolas", "Bitstream Vera Sans Mono", "Courier New", monospace;
    line-height: 1.5;
    margin: 1em 0;
    overflow: auto;
    color: #222;
  } // pre, code
  
  p code, ul code {
    background: $gray-200;
    border-radius: calc($base-border-radius / 2);
    padding: 1px 3px;
  }

  p img {
    max-width: 100%;
  }
  
  pre, tt, code {
    // https://caniuse.com/mdn-css_properties_white-space_pre-wrap
    white-space: pre-wrap;       /* css-3 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
  }

  // Back to Top element

  a.back-to-top {
    background: url('../images/up_white_arrow.png') no-repeat center center, $rf-brand;
    background-size: 1em;
    border-radius: calc($base-border-radius * 2);
    box-shadow: 0 2px 20px rgba(0,0,0,0.25);
    padding: 1.5em;
    position: fixed;
    right: 1em;
    bottom: 1em;
    visibility: hidden;
  }
  
  a.back-to-top.show {
    visibility: visible;
  }

  // ----------------------------------------------------------------------------
  // Layout
  // ----------------------------------------------------------------------------

  .wrapper {
    padding: 1em;

    :where(body[dir="ltr"]) & { text-align: left; }
    :where(body[dir="rtl"]) & { text-align: right; }

    @include media('>desktop') {
      padding-left: 5vw;
      width: 60vw;

    }
  } // .wrapper

  // topNav is a hidden area for mobile only
  nav#topNav {
    background-color: $gray-800;
    color: $gray-400;
    padding: 0.5em 0;
    font-size: 0.875rem;

    @include media('>desktop') {
      display: none;
    }

    .wrapper {
      text-align: center;
    }

    .s-hidden {
      display: none;
    }

    .red-button {
      background: $rf-brand;
      border-bottom: 2px solid $rf-brand-dark;
      border-radius: $base-border-radius;
      color: white;
      padding: 0.5em 1em;
    }

    .more-info-label {
      @include media('<desktop') {
        display: none;
      }
    }

    .more-info-button {
      cursor: pointer;
    }

    .more-info-links {
      @extend %list-in-disguise;
      background: $gray-200;
      border-radius: $base-border-radius;
      box-shadow: 0 2px 20px rgba(0,0,0,0.25);
      font-size: 1.25em;
      position: absolute;
        left: 10vw;
      width: 80vw;

      li {
        border-bottom: 1px solid $gray-300;
        padding: 0.5em;

        &:last-child {
          border-bottom: none;
        }

        a,
        a:link,
        a:visited {
          font-weight: bold;
          text-decoration: none;
        }
      }
    }

  } // nav#topNav

  header#page_header {

    nav#feature_nav {
      @include media('>desktop'){
        align-items: top;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 90vw;
      }
      
      // Image augmented
      .header-logo {
        text-align: center;
        
        a {
          background-image: url("../images/logo_rails-circle.svg");
          background-repeat: no-repeat;
          background-position: top center;
          display: inline-block;
          font-family: 'Calibre', sans-serif;
          font-size: 2.25rem;
          font-weight: 700;
          margin: 0 auto;
          padding-top: 75px;
          text-align: center;
          text-decoration: none;
          font-weight: 700;

          @include media('>desktop'){
            padding: 10px 0 0 85px;
            background-position: top left;     
            height: 85px;
            vertical-align: middle;
          }
        } // a
        
        span#version_switcher {
          color: $gray-600;
          display: block;
          font-size: 0.75em;

          @include media('>desktop') {
            display: inline-block;
            margin-left: 0.5em;
          }

          select {
            color: $gray-600;
          }
        } // span#version_switcher
      } // .header-logo

      ul.nav {
        @extend %list-in-disguise;
        margin: 1em 1em 0 1em;

        @include media('>desktop'){
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          margin: 0;
          padding: 1em 0 0 0;
        }

        li {
          background: $gray-200;
          border-bottom: 1px solid $gray-300;
          font-size: 1.25em;
          text-align: center;
          padding: 1em;

          @include media('>desktop'){
            background: none;
            border: none;
            font-size: 0.75rem;
            height: 24px;
            padding-top: 5px;

            &:first-child {padding-top: 0;}

            a,
            a:link,
            a:visited {
              color: $gray-900;
              font-weight: bold;
              text-decoration: none;
            }
          }

          &:first-child {
            border-top-left-radius: $base-border-radius;
            border-top-right-radius: $base-border-radius;
          }
          &:nth-last-child(2) {
            border-bottom: none;
            border-bottom-left-radius: $base-border-radius;
            border-bottom-right-radius: $base-border-radius;
          }
          &:last-child {
            // the drop down
            background: none;
            border: none;
            padding: 1em 0 0 0;
            
            select {
              max-width: 100%;
            }
          }

          a#home_nav {
            @include media('>desktop') {
              // Image replacement
              background-color: transparent;
              color: transparent;
              border: 0;
              overflow: hidden;
              text-indent: 100%;
              text-shadow: none;
              white-space: nowrap;
            
              &:before {
                content: "";
                display: block;
                height: 100%;
                width: 0;
              }

              // all the rest
              background-image: url("../images/icon_house-chimney.svg");
              background-repeat: no-repeat;
              background-position: top center;
              display: inline-block;
              height: 24px;
              width: 24px;
            }
          }


          &.guides-index-large {
            @include media('<desktop') {
              display: none;
            }
          }

          &.guides-index-small {
            @include media('>desktop') {
              display: none;
            }
            @include media('<desktop') {
              display: block;
            }
          }
        }
      }
    } // nav#feature_nav
  } // header#page_header

  // Desktop guides flyout

  .guides-index .guides-index-item {
    position: relative;
    z-index: 15;
    padding-bottom: 0.125em;

    :where(body[dir="ltr"]) & { background-position: right top; padding-right: 1em; }
    :where(body[dir="rtl"]) & { background-position: left top; padding-left: 1em; }
  }

  
  #guides {
    background: $gray-200;
    box-shadow: 0 2px 20px rgba(0,0,0,0.25);
    display: block;
    border-radius: $base-border-radius;
    color: $gray-900;
    height: 58em;
    padding: 2em 2em 1.5em 2em;
    position: absolute;
      top: 2vw;
      right: 2vw;
    width: 90vw;
    max-width: 1000px;
    z-index: 10;

    :where(body[dir="ltr"]) & { right: 2vw; }
    :where(body[dir="rtl"]) & { left: 2vw; }

    &.visible {
      display: block !important;
    }

    .guides-section-container {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      max-height: 55em;
      width: 100%;

      .guides-section {
        flex: auto;
        margin: 0 2em 0.5em 0;
        text-align: left;
        width: 33%;
        // min-width: 5em;
        // max-width: 12em;

        // Force column breaks on desktop
        &:nth-child(6),
        &:nth-child(9) {
          break-after: always;
        }

        dt, dd {
          font-weight: 400 !important;
          font-size: 0.825rem;
          margin: 0;
          padding: 0;
          font-variant-numeric: lining-nums tabular-nums;
        }

        dt {
          margin: 0.5em 0;
          font-weight: bold !important;

        }

        dd {
          line-height: 1.2;
          margin-bottom: 0.5em;
          border-bottom: none;

          a,
          a:link,
          a:visited {
            color: $gray-900;
            text-decoration: none;
            font-weight: 400 !important;
          }
      
          a:hover,
          a:active {
            color: $rf-brand;
            text-decoration: underline;
          }
        }
      }
    }

  } // #guides

  footer#page_footer {
    background-color: $gray-800;
    color: #fff;
    font-size: 0.75em;
    padding: 1em 0 .5em 0;
    width: 100vw;

    p {
      max-width: 100vw;
    }
  }

  #feature {
    background-color: $gray-100;

    @include media('>desktop') {
      background-color: #fff;
    }

    #subCol {
      background-color: $gray-100;
      border-radius: $base-border-radius;
      font-size: 1rem;
      padding: 0.5em 1em;

      @include media('>desktop') {
        display: block;
        position: fixed;
          top: 100px;
          right: 5vw;
        max-height: calc(100vh - 90px);
        width: 30vw;
      }

      h3.chapter img {
        margin-right: 0.25em;
      }

      ol {
        @include media('>desktop') {
          overflow-y: auto;
          max-height: 73vh;
        }

        li {
          font-weight: bold;

          a,
          a:link,
          a:visited {
            color: $gray-900;
            text-decoration: none;
          }
          
          a:hover,
          a:active {
            color: $rf-brand;
            text-decoration: underline;
          } // a

          ul {
            padding-inline-start: 1em;
            
            li {
              font-weight: 400;
            } // li
          } // ul
        } // li
      } // ol
    }
  }

  @include media('>desktop') {
    padding-right: 400px;
  }
  
} // body.guide