body.guide {

  -webkit-tap-highlight-color:rgba(38, 27, 35, 0);

  // ----------------------------------------------------------------------------
  // Typographic Baseline
  // ----------------------------------------------------------------------------
  
  font-family: 'Calibre', sans-serif;
  font-size: 1rem; /* 16px */
  font-style: normal;
  font-weight: 400;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;


  font-feature-settings: "liga" 1;
  @supports (font-variant-ligatures: common-ligatures) {
    font-feature-settings: normal;
    font-variant-ligatures: common-ligatures;
  }

  font-feature-settings: "onum" 1;
  @supports (font-variant-numeric: oldstyle-nums) {
    font-feature-settings: normal;
    font-variant-numeric: oldstyle-nums;
  }

  p {
    // Set hyphenation rules
    hyphenate-limit-lines: 2; /* Safari */
    -webkit-hyphenate-limit-before: 3;
    -webkit-hyphenate-limit-after: 2;
    hyphenate-limit-chars: 6 3 2; /* Not Safari */
    hyphenate-limit-last: always;

    // Set a width of 45-75 characters, using em as ch has too much variation
    // between various fonts
    min-width: 23em;
    max-width: 38em;

    margin-bottom: 0.75em; // Space after paragraph
    text-align: left;

    // &::first-line {
    //   font-weight: bold; // do we want to do this? Gives a very specific style that may only make sense on the first line of a larger section
    // }
  } // p

  abbr {
    hyphens: manual;
  }

  abbr.smallcaps {
    font-feature-settings: "smcp" 1, "c2sc" 1;
    @supports (font-variant-caps: all-small-caps) {
      font-feature-settings: normal;
      font-variant-caps: all-small-caps;
    }
  }

  // Tables
  table {
    border-collapse: collapse;
    font-variant-numeric: lining-nums tabular-nums;

    caption {
      caption-side: bottom;
    }
  }

  // Headlines
  // TODO: media queries to increase font size, current sizes are for desktop, so drop base to mobile appropriate and MQ up twice (min width 60/120 em, minheight 30/60em)
  h1 {
    font-size: 3rem; /* 48px */
    font-weight: 200; /* Light */
  }

  h2 {
    font-size: 1.875rem; /* 30px */
    font-weight: 700; /* Bold */
  }

  h3 {
    font-size: 1.5rem; /* 24px */
    font-weight: 600; /* Semibold */
  }

  // Old style numbers look weird in headlines and ordered lists, so use proportional lining numbers
  h1, h2, h3, h4, h5, h6, ol, ol > li {
    font-feature-settings: "kern" 1;
    @supports (kerning: normal) {
      font-feature-settings: normal; 
      kerning: normal;
    }
    font-feature-settings: "lnum" 1;
    @supports (font-variant-numeric: lining-nums) {
      font-feature-settings: normal;
      font-variant-numeric: lining-nums;
    }
  }

  // Horizontal Rule
  hr {
    height: 1em;
    border: 0;
    background: url(rubyline.svg) center no-repeat;
    background-size: contain;
  }

  // ----------------------------------------------------------------------------
  // Layout
  // ----------------------------------------------------------------------------

  .wrapper {
  } // .wrapper
  
  
} // body.guide