body.guide {

  -webkit-tap-highlight-color:rgba(38, 27, 35, 0);

  // ----------------------------------------------------------------------------
  // Typographic Baseline
  // ----------------------------------------------------------------------------
  
  font-family: 'Calibre', Montserrat, sans-serif;
  font-size: 1.125rem; /* 18px */
  font-style: normal;
  font-weight: 400;
  font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  line-height: 1.4;


  font-feature-settings: "liga" 1;
  @supports (font-variant-ligatures: common-ligatures) {
    font-feature-settings: normal;
    font-variant-ligatures: common-ligatures;
  }

  font-feature-settings: "onum" 1;
  @supports (font-variant-numeric: oldstyle-nums) {
    font-feature-settings: normal;
    font-variant-numeric: oldstyle-nums;
  }

  p {
    // Set hyphenation rules
    hyphenate-limit-lines: 2; /* Safari */
    -webkit-hyphenate-limit-before: 3;
    -webkit-hyphenate-limit-after: 2;
    hyphenate-limit-chars: 6 3 2; /* Not Safari */
    hyphenate-limit-last: always;

    @include media('>tablet') {
      // On larger screens, set a width of 45-75 characters, using em as ch 
      // has too much variation between various fonts
      min-width: 23em;
      max-width: 38em;
    }

    margin: 0 0 0.75em 0; // Space after paragraph
    text-align: left;

    // &::first-line {
    //   font-weight: bold; // do we want to do this? Gives a very specific style that may only make sense on the first line of a larger section
    // }
  } // p

  // Links

  a {

    &:link {
      color: $rf-brand;
      text-decoration: underline;
    }

    &:hover,
    &:active {
      color: $rf-brand-dark;
    }

    &:visited {
      color: $gray-600;
    }
  }

  abbr {
    hyphens: manual;
  }

  abbr.smallcaps {
    font-feature-settings: "smcp" 1, "c2sc" 1;
    @supports (font-variant-caps: all-small-caps) {
      font-feature-settings: normal;
      font-variant-caps: all-small-caps;
    }
  }

  // Tables
  table {
    border-collapse: collapse;
    font-variant-numeric: lining-nums tabular-nums;
    margin: 2em auto;
    width: 100%;

    caption {
      caption-side: bottom;
    }

    th {
      background-color: $gray-700;
      color: #fff;
      font-size: 0.875em;
      padding: 0.5em;
      text-align: left;
    }

    tr {
      &:nth-child(even) {
        background-color: $gray-100;
      }
    }

    td {
      padding: 0.5em;
    }
  }

  // Headlines
  // TODO: media queries to increase font size, current sizes are for desktop, so drop base to mobile appropriate and MQ up twice (min width 60/120 em, minheight 30/60em)
  // Font family is Calibre, declared globally
  h1 {
    color: $rf-brand;
    font-size: 3rem; /* 48px */
    font-weight: 300; /* Light */
    line-height: 1em;
  } // h1

  h2 {
    font-size: 1.875rem; /* 30px */
    font-weight: 700; /* Bold */
  } // h2

  h3 {
    font-size: 1.5rem; /* 24px */
    font-weight: 600; /* Semibold */

    a,
    a:link,
    a:visited {
      color: $gray-900;
    } // a, a:link, a:visited

    code {
      font-size: 1.5rem;
      font-weight: 400;
    }
  } // h3

  h4 {
    font-size: 1.125rem;

    code {
      font-size: 1.125rem;
      font-weight: 400;
    }
  }

  h5 {
    font-size: 0.9375rem;

    code {
      font-size: 0.9375rem;
      font-weight: 400;
    }
  }

  h1, h2, h3, h4, h5 {
    a,
    a:link {
      text-decoration: none;
    } // a, a:link

    a:hover,
    a:active {
      text-decoration: underline;
    } // a:hover, a:active

    span {
      font-weight: 400;
    }
  } // h1, h2, h3, h4

  // Old style numbers look weird in headlines and ordered lists, so use proportional lining numbers
  h1, h2, h3, h4, h5, h6, ol, ol > li {
    font-feature-settings: "kern" 1;
    @supports (kerning: normal) {
      font-feature-settings: normal; 
      kerning: normal;
    }
    font-feature-settings: "lnum" 1;
    @supports (font-variant-numeric: lining-nums) {
      font-feature-settings: normal;
      font-variant-numeric: lining-nums;
    }
  }

  // Horizontal Rule
  hr {
    height: 1em;
    border: 0;
    background: url("../images/rubyline.svg") center no-repeat;
    background-size: contain;
    margin: 1em auto;
    width: 90%;

    @include media('>tablet') {
      height: 1.5em;
    }

    @include media('>desktop-ultra-wide') {
      height: 2em;
    }
  }

  // Definition Lists

  dl {
    margin: 0;
    
    dt {
      font-weight: bold;
      font-size: 1.125rem;
      padding: 0.125em 0 0.25em 0;
      margin-bottom: 0.75em;

      @include media('<phone-wide') {
        font-size: 1rem;
      } // @include media('<phone-wide')
    } // dt

    dd {
      padding: 0.25em 0 1em;
      border-bottom: 1px solid $gray-500;
      margin: 0 0 1em 0;
    } // dd
  } // dl
  
  // :where(&[dir="ltr"]) dd { margin-left: 1.5em; }
  // :where(&[dir="rtl"]) dd { margin-right: 1.5em; }

  // :where(&[dir="ltr"]) :is(dd) { margin-left: 0; padding-left: 0; }
  // :where(&[dir="rtl"]) :is(dd) { margin-right: 0; padding-right: 0; }

  li {
    margin-bottom: 0.5em;
  }

  // Code

  pre, code {
    font-size: 1rem;
    font-family: "IBM Plex Mono", "Anonymous Pro", "Inconsolata", "Menlo", "Consolas", "Bitstream Vera Sans Mono", "Courier New", monospace;
    line-height: 1.5;
    margin: 1em 0;
    overflow: auto;
    color: #222;
  } // pre, code
  
  p code, ul code {
    background: $gray-200;
    border-radius: calc($base-border-radius / 2);
    padding: 1px 3px;
  }

  p img {
    max-width: 100%;
  }
  
  pre, tt, code {
    // https://caniuse.com/mdn-css_properties_white-space_pre-wrap
    white-space: pre-wrap;       /* css-3 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
  }

  // ----------------------------------------------------------------------------
  // Layout
  // ----------------------------------------------------------------------------

  .wrapper {
    padding: 1em;

    @include media('>desktop') {
      padding-left: 5vw;
      width: 60vw;

    }
  } // .wrapper

  footer#page_footer {
    background-color: $gray-800;
    color: #fff;
    font-size: 0.75em;
    padding: 1em 0 .5em 0;
    width: 100vw;

    p {
      max-width: 100vw;
    }
  }

  #feature {
    background-color: $gray-100;

    @include media('>desktop') {
      background-color: #fff;
    }

    #subCol {
      background-color: $gray-100;
      border-radius: $base-border-radius;
      padding: 0.5em 1em;

      @include media('>desktop') {
        display: block;
        position: fixed;
        top: 100px;
        right: 5vw;
        width: 30vw;
      }

    //   dl {
    //     margin-bottom: 0;
    //   }

    //   dd {
    //     border-bottom: none;
    //     margin-bottom: 0;
    //   }
    }
  }

  @include media('>desktop') {
    padding-right: 400px;
  }
  
} // body.guide