/* ----------------------------------------------------------------------------
// Rails Guides Redesign
// February 2024
//
// John Athayde (https://www.johnathayde.com) for Meticulous
// ---------------------------------------------------------------------------- */

// ----------------------------------------------------------------------------
// Imports

@import 'vendor/normalize';
@import 'vendor/boilerplate';
@import 'vendor/include-media';

// ----------------------------------------------------------------------------
// Breakpoints
//
// This overrides the defaults in include-media.

$breakpoints: (
  'phone': 320px,
  'phone-wide': 480px,
  'tablet': 768px,
  'desktop': 1024px,
  'desktop-wide': 1280px,
  'desktop-ultra-wide': 1440px,
  'desktop-hd': 1920px,
  'desktop-full': 2560px
); 

// ----------------------------------------------------------------------------
// Variables

// ----------------------------------------------------------------------------
// Global Colors

$rf-brand: #C81418;
$rf-brand-light: lighten($rf-brand, 5%);
$rf-brand-dark: darken($rf-brand, 10%);
$rf-highlight: rgba($rf-brand, 10%);

$gray-100: #FAF9F8;
$gray-200: #F5F3F1;
$gray-300: #EBEBEA;
$gray-400: #DCDCD8;
$gray-500: #A9A9A8;
$gray-600: #666666;
$gray-700: #3A3939;
$gray-800: #343434;
$gray-900: #2E2E2E;

$note: #FFD600;
$note-bkgnd: rgba($note, 15%); // Works for light and dark mode

$tip: #00F0FF;
$tip-bkgnd: rgba($tip, 15%); // Works for light and dark mode

$stop: $rf-brand;
$stop-bkgnd: rgba($stop, 15%); // Works for light and dark mode

// ----------------------------------------------------------------------------
// Fonts
// These are the same fonts that are used on the marcom site, and they are 
// included from those links/embeds. 

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 400;
  src: url("https://rubyonrails.org/fonts/IBMPlexMono-Text.eot");
  src: url("https://rubyonrails.org/fonts/IBMPlexMono-Text.eot?#iefix") format("embedded-opentype"), url("https://rubyonrails.org/fonts/IBMPlexMono-Text.woff2") format("woff2"), url("https://rubyonrails.org/fonts/IBMPlexMono-Text.woff") format("woff");
  font-display:swap
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 400;
  src: url("https://rubyonrails.org/fonts/IBMPlexMono-TextItalic.eot");
  src: url("https://rubyonrails.org/fonts/IBMPlexMono-TextItalic.eot?#iefix") format("embedded-opentype"), url("https://rubyonrails.org/fonts/IBMPlexMono-TextItalic.woff2") format("woff2"), url("https://rubyonrails.org/fonts/IBMPlexMono-TextItalic.woff") format("woff");
  font-display:swap
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: normal;
  font-weight: 500;
  src: url("https://rubyonrails.org/fonts/IBMPlexMono-Medium.eot");
  src: url("https://rubyonrails.org/fonts/IBMPlexMono-Medium.eot?#iefix") format("embedded-opentype"), url("https://rubyonrails.org/fonts/IBMPlexMono-Medium.woff2") format("woff2"), url("https://rubyonrails.org/fonts/IBMPlexMono-Medium.woff") format("woff");
  font-display:swap
}

@font-face {
  font-family: 'IBM Plex Mono';
  font-style: italic;
  font-weight: 500;
  src: url("https://rubyonrails.org/fonts/IBMPlexMono-MediumItalic.eot");
  src: url("https://rubyonrails.org/fonts/IBMPlexMono-MediumItalic.eot?#iefix") format("embedded-opentype"), url("https://rubyonrails.org/fonts/IBMPlexMono-MediumItalic.woff2") format("woff2"), url("https://rubyonrails.org/fonts/IBMPlexMono-MediumItalic.woff") format("woff");
  font-display:swap
}

@font-face {
  font-family: 'Calibre';
  font-style: normal;
  font-weight: 400;
  src: url("https://rubyonrails.org/fonts/calibre-regular.woff2") format("woff2");
  font-display:swap
}

@font-face {
  font-family: 'Calibre';
  font-style: italic;
  font-weight: 400;
  src: url("https://rubyonrails.org/fonts/calibre-regular-italic.woff2") format("woff2");
  font-display:swap
}

@font-face {
  font-family: 'Calibre';
  font-style: normal;
  font-weight: 600;
  src: url("https://rubyonrails.org/fonts/calibre-semibold.woff2") format("woff2");
  font-display:swap
}

@font-face {
  font-family: 'Calibre';
  font-style: italic;
  font-weight: 600;
  src: url("https://rubyonrails.org/fonts/calibre-semibold-italic.woff2") format("woff2");
  font-display:swap
}

@font-face {
  font-family: 'Calibre';
  font-style: normal;
  font-weight: 700;
  src: url("https://rubyonrails.org/fonts/calibre-bold.woff2") format("woff2");
  font-display:swap
}


// ----------------------------------------------------------------------------
// Sizes
$base-border-radius: 8px;



// ----------------------------------------------------------------------------
// Base & Utility

// Fix everything's box model for better style control
* {
  box-sizing: border-box;
} // *

// Makes a list not look like a list
%list-in-disguise {
  margin: 0;
  padding: 0;

  li {
    margin: 0;
    padding: 0;
    list-style: none;
  }
} // %list-in-disguise

// Clearfix, not used often anymore, but present for times when the browser misbehaves.
.clearfix, %clearfix {
  &:after,
  &:before {
    content: " ";
    display: table;
  } // &:after, &:before

  &:after {
    clear: both;
  } // &:after
} // %clearfix // .clearfix, %clearfix

.hide {
  visibility: hidden;
}

// ----------------------------------------------------------------------------
// COMPONENTS

@import 'components/_code-container';

// ----------------------------------------------------------------------------
// Now, bring me that horizon.

@import 'main';
