 <% unless comment.new_record? %>
   	<tr>
  		<td><%= comment.commenter %></td>
  		<td><%= comment.body %></td>
  		<td><%= link_to 'Delete', [comment.post, comment],
  		method: :delete,
  		data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %></td>
  	</tr>
  <% end %>