p { 
  text-indent: 0; 
}

p, 
h1, 
h2, 
h3, 
h4, 
h5, 
h6, 
h7, 
h8, 
table { 
  margin-top: 1em;
}

.pagebreak { 
  page-break-before: always; 
}

#toc h3 {
  text-indent: 1em;
}

#toc .document {
  text-indent: 2em;
}

img {
  display: block;
  max-width: 100%;
}
