/* ----------------------------------------------------------------------------
// Rails Guides Redesign
// February 2024
//
// John Athayde (https://www.johnathayde.com) for Meticulous
// ---------------------------------------------------------------------------- */
.highlight {
  background-color: transparent;
}
.highlight table td {
  padding: 5px;
}
.highlight table pre {
  margin: 0;
}
.highlight .c,
.highlight .cd,
.highlight .ch,
.highlight .cm,
.highlight .cpf,
.highlight .cs .c1,
.highlight .ge {
  font-style: italic;
}
.highlight .cp,
.highlight .cs,
.highlight .fm,
.highlight .gs,
.highlight .kc,
.highlight .kd,
.highlight .kn,
.highlight .kp,
.highlight .kr,
.highlight .kt,
.highlight .nc,
.highlight .nd,
.highlight .ne,
.highlight .nf,
.highlight .nl,
.highlight .o,
.highlight .ow {
  font-weight: bold;
}

@media (prefers-color-scheme: dark) {
  .highlight { /* Comment */
    /* Error */
    /* Keyword */
    /* Literal */
    /* Name */
    /* Operator */
    /* Punctuation */
    /* Comment.Multiline */
    /* Comment.Preproc */
    /* Comment.Single */
    /* Comment.Special */
    /* Keyword.Constant */
    /* Keyword.Declaration */
    /* Keyword.Namespace */
    /* Keyword.Pseudo */
    /* Keyword.Reserved */
    /* Keyword.Type */
    /* Literal.Date */
    /* Literal.Number */
    /* Literal.String */
    /* Name.Attribute */
    /* Name.Builtin */
    /* Name.Class */
    /* Name.Constant */
    /* Name.Decorator */
    /* Name.Entity */
    /* Name.Exception */
    /* Name.Function */
    /* Name.Label */
    /* Name.Namespace */
    /* Name.Other */
    /* Name.Property */
    /* Name.Tag */
    /* Name.Variable */
    /* Operator.Word */
    /* Text.Whitespace */
    /* Literal.Number.Float */
    /* Literal.Number.Hex */
    /* Literal.Number.Integer */
    /* Literal.Number.Oct */
    /* Literal.String.Backtick */
    /* Literal.String.Char */
    /* Literal.String.Doc */
    /* Literal.String.Double */
    /* Literal.String.Escape */
    /* Literal.String.Heredoc */
    /* Literal.String.Interpol */
    /* Literal.String.Other */
    /* Literal.String.Regex */
    /* Literal.String.Single */
    /* Literal.String.Symbol */
    /* Name.Builtin.Pseudo */
    /* Name.Variable.Class */
    /* Name.Variable.Global */
    /* Name.Variable.Instance */
    /* Literal.Number.Integer.Long */
    /* Generic Heading & Diff Header */
    /* Generic.Subheading & Diff Unified/Comment? */
    /* Generic.Deleted & Diff Deleted */
    /* Generic.Inserted & Diff Inserted */
  }
  .highlight .c {
    color: #6c6c65;
  }
  .highlight .err {
    color: #a61717;
    background-color: #e3d2d2;
  }
  .highlight .k {
    color: #0073a6;
  }
  .highlight .l {
    color: #007979;
  }
  .highlight .n {
    color: #f8f8f2;
  }
  .highlight .o {
    color: #f92672;
  }
  .highlight .p {
    color: #f8f8f2;
  }
  .highlight .bp {
    color: #6c6c6c;
  }
  .highlight .cm {
    color: #6c6c65;
  }
  .highlight .cp {
    color: #6c6c6c;
  }
  .highlight .c1 {
    color: #6c6c65;
  }
  .highlight .cs {
    color: #6c6c6c;
  }
  .highlight .fm {
    color: #990000;
  }
  .highlight .kc {
    color: #66d9ef;
  }
  .highlight .kd {
    color: #66d9ef;
  }
  .highlight .kn {
    color: #f92672;
  }
  .highlight .kp {
    color: #66d9ef;
  }
  .highlight .kr {
    color: #66d9ef;
  }
  .highlight .kt {
    color: #445588;
  }
  .highlight .kv {
    color: #0073a6;
  }
  .highlight .ld {
    color: #d51144;
  }
  .highlight .m {
    color: #007979;
  }
  .highlight .s {
    color: #d51144;
  }
  .highlight .na {
    color: #007979;
  }
  .highlight .nb {
    color: #0074a1;
  }
  .highlight .nc {
    color: #445588;
  }
  .highlight .no {
    color: #007979;
  }
  .highlight .nd {
    color: #3c5d5d;
  }
  .highlight .ni {
    color: #800080;
  }
  .highlight .ne {
    color: #990000;
  }
  .highlight .nf {
    color: #990000;
  }
  .highlight .nl {
    color: #990000;
  }
  .highlight .nn {
    color: #555555;
  }
  .highlight .nx {
    color: #a6e22e;
  }
  .highlight .py {
    color: #f8f8f2;
  }
  .highlight .nt {
    color: #000080;
  }
  .highlight .nv {
    color: #007979;
  }
  .highlight .ow {
    color: #000000;
  }
  .highlight .w {
    color: #6c6c6c;
  }
  .highlight .mf {
    color: #007979;
  }
  .highlight .mh {
    color: #007979;
  }
  .highlight .mi {
    color: #007979;
  }
  .highlight .mo {
    color: #007979;
  }
  .highlight .sb {
    color: #d51144;
  }
  .highlight .sc {
    color: #d51144;
  }
  .highlight .sd {
    color: #d51144;
  }
  .highlight .s2 {
    color: #d51144;
  }
  .highlight .se {
    color: #007979;
  }
  .highlight .sh {
    color: #d51144;
  }
  .highlight .si {
    color: #d51144;
  }
  .highlight .sx {
    color: #d51144;
  }
  .highlight .sr {
    color: #d51144;
  }
  .highlight .s1 {
    color: #d51144;
  }
  .highlight .ss {
    color: #d51144;
  }
  .highlight .bp {
    color: #f8f8f2;
  }
  .highlight .vc {
    color: #007979;
  }
  .highlight .vg {
    color: #007979;
  }
  .highlight .vi {
    color: #005cc5;
  }
  .highlight .vm {
    color: #007979;
  }
  .highlight .il {
    color: #007979;
  }
  .highlight .gh {
    color: #6c6c6c;
  }
  .highlight .gu {
    color: #6c6c6c;
  }
  .highlight .gd {
    color: #000000;
    background-color: #ffdddd;
  }
  .highlight .gi {
    color: #000000;
    background-color: #ddffdd;
  }
  .highlight .gr {
    color: #aa0000;
  }
  .highlight .go {
    color: #6c6c6c;
  }
  .highlight .gp {
    color: #555555;
  }
  .highlight .gt {
    color: #aa0000;
  }
}
@media (prefers-color-scheme: light) {
  .highlight {
    color: #fff;
    /* Comment */
    /* Error */
    /* Keyword */
    /* Literal */
    /* Name */
    /* Operator */
    /* Punctuation */
    /* Comment.Multiline */
    /* Comment.Preproc */
    /* Comment.Single */
    /* Comment.Special */
    /* Keyword.Constant */
    /* Keyword.Declaration */
    /* Keyword.Namespace */
    /* Keyword.Pseudo */
    /* Keyword.Reserved */
    /* Keyword.Type */
    /* Literal.Date */
    /* Literal.Number */
    /* Literal.String */
    /* Name.Attribute */
    /* Name.Builtin */
    /* Name.Class */
    /* Name.Constant */
    /* Name.Decorator */
    /* Name.Entity */
    /* Name.Exception */
    /* Name.Function */
    /* Name.Label */
    /* Name.Namespace */
    /* Name.Other */
    /* Name.Property */
    /* Name.Tag */
    /* Name.Variable */
    /* Operator.Word */
    /* Text.Whitespace */
    /* Literal.Number.Float */
    /* Literal.Number.Hex */
    /* Literal.Number.Integer */
    /* Literal.Number.Oct */
    /* Literal.String.Backtick */
    /* Literal.String.Char */
    /* Literal.String.Doc */
    /* Literal.String.Double */
    /* Literal.String.Escape */
    /* Literal.String.Heredoc */
    /* Literal.String.Interpol */
    /* Literal.String.Other */
    /* Literal.String.Regex */
    /* Literal.String.Single */
    /* Literal.String.Symbol */
    /* Name.Builtin.Pseudo */
    /* Name.Variable.Class */
    /* Name.Variable.Global */
    /* Name.Variable.Instance */
    /* Literal.Number.Integer.Long */
    /* Generic Heading & Diff Header */
    /* Generic.Subheading & Diff Unified/Comment? */
    /* Generic.Deleted & Diff Deleted */
    /* Generic.Inserted & Diff Inserted */
  }
  .highlight.plaintext, .highlight.console, .highlight.erb {
    color: #fff;
  }
  .highlight .hll {
    background-color: #272822;
  }
  .highlight .c {
    color: #A9A9A8;
  }
  .highlight .err {
    color: #960050;
    background-color: #1e0010;
  }
  .highlight .k {
    color: #66d9ef;
  }
  .highlight .l {
    color: #ae81ff;
  }
  .highlight .n {
    color: #f8f8f2;
  }
  .highlight .o {
    color: #f92672;
  }
  .highlight .p {
    color: #f8f8f2;
  }
  .highlight .cm {
    color: #A9A9A8;
  }
  .highlight .cp {
    color: #A9A9A8;
  }
  .highlight .c1 {
    color: #A9A9A8;
  }
  .highlight .cs {
    color: #A9A9A8;
  }
  .highlight .kc {
    color: #66d9ef;
  }
  .highlight .kd {
    color: #66d9ef;
  }
  .highlight .kn {
    color: #f92672;
  }
  .highlight .kp {
    color: #66d9ef;
  }
  .highlight .kr {
    color: #66d9ef;
  }
  .highlight .kt {
    color: #66d9ef;
  }
  .highlight .ld {
    color: #e6db74;
  }
  .highlight .m {
    color: #ae81ff;
  }
  .highlight .s {
    color: #e6db74;
  }
  .highlight .na {
    color: #a6e22e;
  }
  .highlight .nb {
    color: #f8f8f2;
  }
  .highlight .nc {
    color: #a6e22e;
  }
  .highlight .no {
    color: #66d9ef;
  }
  .highlight .nd {
    color: #a6e22e;
  }
  .highlight .ni {
    color: #f8f8f2;
  }
  .highlight .ne {
    color: #a6e22e;
  }
  .highlight .nf {
    color: #a6e22e;
  }
  .highlight .nl {
    color: #f8f8f2;
  }
  .highlight .nn {
    color: #f8f8f2;
  }
  .highlight .nx {
    color: #a6e22e;
  }
  .highlight .py {
    color: #f8f8f2;
  }
  .highlight .nt {
    color: #f92672;
  }
  .highlight .nv {
    color: #f8f8f2;
  }
  .highlight .ow {
    color: #f92672;
  }
  .highlight .w {
    color: #f8f8f2;
  }
  .highlight .mf {
    color: #ae81ff;
  }
  .highlight .mh {
    color: #ae81ff;
  }
  .highlight .mi {
    color: #ae81ff;
  }
  .highlight .mo {
    color: #ae81ff;
  }
  .highlight .sb {
    color: #e6db74;
  }
  .highlight .sc {
    color: #e6db74;
  }
  .highlight .sd {
    color: #e6db74;
  }
  .highlight .s2 {
    color: #e6db74;
  }
  .highlight .se {
    color: #ae81ff;
  }
  .highlight .sh {
    color: #e6db74;
  }
  .highlight .si {
    color: #e6db74;
  }
  .highlight .sx {
    color: #e6db74;
  }
  .highlight .sr {
    color: #e6db74;
  }
  .highlight .s1 {
    color: #e6db74;
  }
  .highlight .ss {
    color: #e6db74;
  }
  .highlight .bp {
    color: #f8f8f2;
  }
  .highlight .vc {
    color: #f8f8f2;
  }
  .highlight .vg {
    color: #f8f8f2;
  }
  .highlight .vi {
    color: #f8f8f2;
  }
  .highlight .il {
    color: #ae81ff;
  }
  .highlight .gh {
    color: #6c6c6c;
  }
  .highlight .gu {
    color: #75715e;
  }
  .highlight .gd {
    color: #f92672;
    background-color: unset;
  }
  .highlight .gi {
    color: #a6e22e;
    background-color: unset;
  }
  .highlight .gr {
    color: #aa0000;
  }
  .highlight .go {
    color: #6c6c6c;
  }
  .highlight .gp {
    color: #555555;
  }
}
