/*
 * Propshaft serves assets efficiently without preprocessing. By default, each
 * stylesheet is linked individually hence this file should be used for global
 * styles only. Consider organizing styles into separate files for maintainability.
 *
 * You may transpile and bundle your CSS using the `cssbundling-rails` gem which
 * integrates with Propshaft.
 */