<%= app_const %>.configure do
  config.assets.enabled = true

<% unless options[:skip_active_record] -%>
  # Enable IdentityMap for Active Record, to disable set to false or remove the line below.
  config.active_record.identity_map = true
<% end -%>
end