<%- if options.password_based? -%>
<%% password_digest = BCrypt::Password.create("password") %>

one:
  email_address: one@example.com
  password_digest: <%%= password_digest %>

two:
  email_address: two@example.com
  password_digest: <%%= password_digest %>
<%- else -%>
one:
  email_address: one@example.com

two:
  email_address: two@example.com
<%- end -%>
