<%% algorithm = Rails.application.config.active_model.secure_password_algorithm || :argon2 %>
<%% password_algorithm = ActiveModel::SecurePassword.lookup_algorithm(algorithm).new %>
<%% password_digest = password_algorithm.hash_password("password") %>

one:
  email_address: one@example.com
  password_digest: <%%= password_digest %>

two:
  email_address: two@example.com
  password_digest: <%%= password_digest %>
