<p id="notice"><%%= notice %></p>

<h1><%= plural_table_name.titleize %></h1>

<div id="<%= plural_table_name %>">
  <%%= render @<%= plural_table_name %> %>
</div>

<%%= link_to "New <%= humanize_singular_table_name %>", new_<%= singular_route_name %>_path %>
