<p id="notice"><%%= notice %></p>

<%%= render @<%= singular_table_name %> %>

<div>
  <%%= link_to "Edit this <%= singular_table_name %>", edit_<%= singular_table_name %>_path(@<%= singular_table_name %>) %> |
  <%%= link_to "Back to <%= plural_table_name %>", <%= index_helper %>_path %>

  <%%= button_to "Destroy this <%= singular_table_name %>", <%= singular_table_name %>_path(@<%= singular_table_name %>), method: :delete %>
</div>
