.html .tag {
	color : green;
}

.html .doctype {
  color: #708090;
}

.erb .tag {
	color : green;
}

.erb .doctype {
  color: #708090;
}

.ruby .keywords {
  color : red;
}

.ruby .ivar {
  color : blue;
}

.ruby .comment {
  color: #708090;
}

.ruby .symbol {
 color: green;
}
