pkg
.bundle
debug.log
doc/rdoc
activeresource/doc
activerecord/doc
actionpack/doc
actionmailer/doc
activesupport/doc
activeresource/pkg
activerecord/pkg
actionpack/pkg
actionmailer/pkg
activesupport/pkg
railties/pkg
railties/test/500.html
railties/doc/guides/html/images
railties/doc/guides/html/stylesheets
railties/guides/output
