debug.log
doc/rdoc
activeresource/doc
activerecord/doc
actionpack/doc
actionmailer/doc
activesupport/doc
activeresource/pkg
activerecord/pkg
actionpack/pkg
activemodel/test/fixtures/fixture_database.sqlite3
actionmailer/pkg
activesupport/pkg
activesupport/test/fixtures/isolation_test
railties/pkg
railties/test/500.html
railties/test/fixtures/tmp
railties/test/initializer/root/log
railties/doc/guides/html/images
railties/doc/guides/html/stylesheets
benches
railties/guides/output
*.rbc
*.swp
*.swo
