<!DOCTYPE html>
<html>
<head>
  <title><%= humanized %></title>
  <%%= csrf_meta_tags %>
  <%%= csp_meta_tag %>

  <%%= stylesheet_link_tag    "<%= namespaced_name %>/application", media: "all" %>
</head>
<body>

<%%= yield %>

</body>
</html>
