<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title><%= @page_title %></title>
  <style>
    body {
      background-color: #FAFAFA;
      color: #333;
      color-scheme: light dark;
      supported-color-schemes: light dark;
      margin: 0;
      padding: 1.5em;
    }

    body, p, ol, ul, td {
      font-family: helvetica, verdana, arial, sans-serif;
      font-size:   13px;
      line-height: 18px;
    }

    pre {
      font-size: 11px;
      white-space: pre-wrap;
    }

    a { color: #980905; }
    a:visited { color: #666; }
    a:hover { color: #C00; }

    @media (prefers-color-scheme: dark) {
      body {
        background-color: #222;
        color: #ECECEC;
      }

      a { color: #C00; }
      a:hover { color: #E9382B; }
    }

    <%= yield :style %>
  </style>
</head>
<body>

<%= yield %>

</body>
</html>
