# This file is used by Rack-based servers to start the application.

require ::File.expand_path('../config/environment', __FILE__)
<%- unless options[:skip_action_cable] -%>

# Action Cable uses EventMachine which requires that all classes are loaded in advance
Rails.application.eager_load!
require 'action_cable/process/logging'
<%- end -%>

run Rails.application
