# See https://git-scm.com/docs/gitattributes for more about git attribute files.

<% unless options[:skip_active_record] -%>
# Mark the database schema as having been generated.
db/schema.rb linguist-generated
<% end -%>

<% unless options[:skip_javascript] -%>
# Mark the yarn lockfile as having been generated.
yarn.lock linguist-generated
<% end -%>

# Mark any vendored files as having been vendored.
vendor/* linguist-vendored
