{
  "name": "<%= app_name.underscore.dasherize %>",
  "private": true,
  "dependencies": {
    "@rails/ujs": "<%= npm_version %>"<% unless options[:skip_turbolinks] %>,
    "turbolinks": "<%= turbolinks_npm_version %>"<% end -%><% unless skip_active_storage? %>,
    "@rails/activestorage": "<%= npm_version %>"<% end -%><% unless options[:skip_action_cable] %>,
    "@rails/actioncable": "<%= npm_version %>"<% end %>
  },
  "version": "0.1.0"
}
