# Add your own Rake tasks in files placed in lib/tasks ending in .rake.
# For example: lib/tasks/admin.rake
# These tasks are automatically available to the `bin/rails` and `rake` commands.

require_relative "config/application"

Rails.application.load_tasks
