/.bundle/
/doc/
/log/*.log
/pkg/
/tmp/
<% if with_dummy_app? -%>
<% if sqlite3? -%>
/<%= dummy_path %>/db/*.sqlite3
/<%= dummy_path %>/db/*.sqlite3-*
<% end -%>
/<%= dummy_path %>/log/*.log
/<%= dummy_path %>/storage/
/<%= dummy_path %>/tmp/
<% end -%>
