{
  "name": "<%= underscored_name %>",
  "private": true,
  "dependencies": {
    "@rails/webpacker": "^4.0"
  },
  "version": "0.1.0",
  "devDependencies": {
    "webpack-dev-server": "^3.4.1"
  }
}
