require "bundler/setup"
<% if engine? && !options[:skip_active_record] && with_dummy_app? -%>

APP_RAKEFILE = File.expand_path("<%= dummy_path -%>/Rakefile", __dir__)
load "rails/tasks/engine.rake"
<% end -%>
<% if engine? -%>

load "rails/tasks/statistics.rake"
<% end -%>
<% unless options[:skip_gemspec] -%>

require "bundler/gem_tasks"
<% end -%>
