require "bundler/setup"
<% if engine? && !options[:skip_active_record] && (with_dummy_app? || inside_application?) -%>

APP_RAKEFILE = File.expand_path("<%= test_app_path -%>/Rakefile", __dir__)
load "rails/tasks/engine.rake"
<% end -%>
<% if engine? -%>

load "rails/tasks/statistics.rake"
<% end -%>
<% unless options[:skip_gemspec] -%>

require "bundler/gem_tasks"
<% end -%>
