require "test_helper"

class SessionsControllerTest < ActionDispatch::IntegrationTest
  setup { @user = User.take }

  test "new" do
    get new_session_path
    assert_response :success
  end
<%- if options.password_based? -%>

  test "create with valid credentials" do
    post session_path, params: { email_address: @user.email_address, password: "password" }

    assert_redirected_to root_path
    assert cookies[:session_id]
  end

  test "create with invalid credentials" do
    post session_path, params: { email_address: @user.email_address, password: "wrong" }

    assert_redirected_to new_session_path
    assert_nil cookies[:session_id]
  end
<%- else -%>

  test "create sends magic link" do
    post session_path, params: { email_address: @user.email_address }

    assert_redirected_to session_magic_link_path
    assert @user.magic_links.any?
  end

  test "create with unknown email" do
    post session_path, params: { email_address: "unknown@example.com" }

    assert_redirected_to new_session_path
  end
<%- end -%>

  test "destroy" do
    sign_in_as(@user)

    delete session_path

    assert_redirected_to new_session_path
    assert_empty cookies[:session_id]
  end
end
