<header>
  <h1>Blocked host: <%= @host %></h1>
</header>
<main role="main" id="container">
  <h2>To allow requests to <%= @host %>, add the following to your environment configuration:</h2>
  <pre>config.hosts &lt;&lt; "<%= @host %>"</pre>
</main>
