<% content_for :page_title, "Specific Rails Versions — Ruby on Rails Guides" %>
<% content_for :description, "Guides for Specific Rails Versions" %>

<% content_for :header_section do %>
<h2>Guides for Specific Rails Versions</h2>

<p>
  Guides for the latest stable release of Rails can be found at <a href="https://guides.rubyonrails.org">https://guides.rubyonrails.org</a>.
</p>

<p>
  Edge guides, based on the <a href="https://github.com/rails/rails/tree/main">current development branch</a>, can be found at <a href="https://edgeguides.rubyonrails.org">https://edgeguides.rubyonrails.org</a>.
</p>

<p>
  Guides for specific Rails versions are listed below.
</p>
<% end %>

<h3>Versions</h3>

<ul>
<li><a href="https://guides.rubyonrails.org/v7.0/" data-turbolinks="false">Rails 7.0</a>
<li><a href="https://guides.rubyonrails.org/v6.1/" data-turbolinks="false">Rails 6.1</a>
<li><a href="https://guides.rubyonrails.org/v6.0/" data-turbolinks="false">Rails 6.0</a>
<li><a href="https://guides.rubyonrails.org/v5.2/" data-turbolinks="false">Rails 5.2</a>
<li><a href="https://guides.rubyonrails.org/v5.1/" data-turbolinks="false">Rails 5.1</a>
<li><a href="https://guides.rubyonrails.org/v5.0/" data-turbolinks="false">Rails 5.0</a>
<li><a href="https://guides.rubyonrails.org/v4.2/" data-turbolinks="false">Rails 4.2</a>
<li><a href="https://guides.rubyonrails.org/v4.1/" data-turbolinks="false">Rails 4.1</a>
<li><a href="https://guides.rubyonrails.org/v4.0/" data-turbolinks="false">Rails 4.0</a>
<li><a href="https://guides.rubyonrails.org/v3.2/" data-turbolinks="false">Rails 3.2</a>
<li><a href="https://guides.rubyonrails.org/v3.1/" data-turbolinks="false">Rails 3.1</a>
<li><a href="https://guides.rubyonrails.org/v3.0/" data-turbolinks="false">Rails 3.0</a>
<li><a href="https://guides.rubyonrails.org/v2.3/" data-turbolinks="false">Rails 2.3</a>
</ul>
