<div style="margin: 10%">
<h2>Loaded ActiveRecord Object Debugging</h2>
<ul>
  <li><%= pp "Total Unique Objects Loaded #{ActiveRecord::LoadTree.loaded_records.length}" %></li>
</ul>
<% ActiveRecord::LoadTree.loaded_records.each do |record| %>
  <div>
    <h1>Loaded Records</h1>
    <%= render partial: 'rails/load_tree_debugger/record', locals: { record: record } %>
  </div>
<% end %>
</div>