<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Composite Primary Keys — Ruby on Rails Guides</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css" data-turbo-track="reload">
  <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">
  <link rel="stylesheet" type="text/css" href="stylesheets/highlight.css" data-turbo-track="reload">
  
  <link rel="icon" href="images/favicon.ico" sizes="any">
  <link rel="icon" href="images/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="images/icon.png">
  
  <script src="javascripts/@hotwired--turbo.js" data-turbo-track="reload"></script>
  <script src="javascripts/clipboard.js" data-turbo-track="reload"></script>
  <script src="javascripts/guides.js" data-turbo-track="reload"></script>

  <meta property="og:title" content="Composite Primary Keys — Ruby on Rails Guides" />
  <meta name="description" content="Composite Primary KeysThis guide is an introduction to composite primary keys for database tables.After reading this guide you will be able to: Create a table with a composite primary key Query a model with a composite primary key Enable your model to use a composite primary key for queries and associations Create forms for models that use composite primary keys Extract composite primary keys from controller parameters Use database fixtures for tables with composite primary keys" />
  <meta property="og:description" content="Composite Primary KeysThis guide is an introduction to composite primary keys for database tables.After reading this guide you will be able to: Create a table with a composite primary key Query a model with a composite primary key Enable your model to use a composite primary key for queries and associations Create forms for models that use composite primary keys Extract composite primary keys from controller parameters Use database fixtures for tables with composite primary keys" />
  <meta property="og:locale" content="en_US" />
  <meta property="og:site_name" content="Ruby on Rails Guides" />
  <meta property="og:image" content="https://avatars.githubusercontent.com/u/4223" />
  <meta property="og:type" content="website" />

  <meta name="theme-color" content="#C81418">
</head>

<body dir="ltr" class="guide">
  <div>
    <div id="version-badge">edge</div>
  </div>
  <div id="topNav">
    <div class="wrapper">
      <strong class="more-info-label">More at <a href="https://rubyonrails.org/">rubyonrails.org:</a> </strong>
      <span class="red-button more-info-button">
        More Ruby on Rails
      </span>
      <ul class="more-info-links s-hidden">
        <li class="more-info"><a href="https://rubyonrails.org/blog">Blog</a></li>
        <li class="more-info"><a href="https://guides.rubyonrails.org/">Guides</a></li>
        <li class="more-info"><a href="https://api.rubyonrails.org/">API</a></li>
        <li class="more-info"><a href="https://discuss.rubyonrails.org/">Forum</a></li>
        <li class="more-info"><a href="https://github.com/rails/rails">Contribute on GitHub</a></li>
      </ul>
    </div>
  </div>
  <div id="header">
    <div class="wrapper clearfix">
      <div class="header-logo"><a href="index.html" title="Return to home page">Guides.rubyonrails.org</a></div>
      <ul class="nav">
        <li><a class="nav-item" href="index.html">Home</a></li>
        <li class="guides-index guides-index-large">
          <a href="index.html" id="guidesMenu" class="guides-index-item nav-item">Guides Index</a>
          <div id="guides" class="clearfix" style="display: none;">
            <hr />
            <dl class="guides-section-container">
                <div class="guides-section">
                  <dt>Start Here</dt>
                  <dd><a href="getting_started.html">Getting Started with Rails</a></dd>
                </div>
                <div class="guides-section">
                  <dt>Models</dt>
                  <dd><a href="active_record_basics.html">Active Record Basics</a></dd>
                  <dd><a href="active_record_migrations.html">Active Record Migrations</a></dd>
                  <dd><a href="active_record_validations.html">Active Record Validations</a></dd>
                  <dd><a href="active_record_callbacks.html">Active Record Callbacks</a></dd>
                  <dd><a href="association_basics.html">Active Record Associations</a></dd>
                  <dd><a href="active_record_querying.html">Active Record Query Interface</a></dd>
                </div>
                <div class="guides-section">
                  <dt>Views</dt>
                  <dd><a href="layouts_and_rendering.html">Layouts and Rendering in Rails</a></dd>
                  <dd><a href="form_helpers.html">Action View Form Helpers</a></dd>
                </div>
                <div class="guides-section">
                  <dt>Controllers</dt>
                  <dd><a href="action_controller_overview.html">Action Controller Overview</a></dd>
                  <dd><a href="routing.html">Rails Routing from the Outside In</a></dd>
                </div>
                <div class="guides-section">
                  <dt>Other Components</dt>
                  <dd><a href="active_support_core_extensions.html">Active Support Core Extensions</a></dd>
                  <dd><a href="action_mailer_basics.html">Action Mailer Basics</a></dd>
                  <dd><a href="active_job_basics.html">Active Job Basics</a></dd>
                  <dd><a href="active_storage_overview.html">Active Storage Overview</a></dd>
                  <dd><a href="action_cable_overview.html">Action Cable Overview</a></dd>
                </div>
                <div class="guides-section">
                  <dt>Digging Deeper</dt>
                  <dd><a href="i18n.html">Rails Internationalization (I18n) API</a></dd>
                  <dd><a href="testing.html">Testing Rails Applications</a></dd>
                  <dd><a href="security.html">Securing Rails Applications</a></dd>
                  <dd><a href="error_reporting.html">Error Reporting in Rails Applications</a></dd>
                  <dd><a href="debugging_rails_applications.html">Debugging Rails Applications</a></dd>
                  <dd><a href="configuring.html">Configuring Rails Applications</a></dd>
                  <dd><a href="command_line.html">The Rails Command Line</a></dd>
                  <dd><a href="asset_pipeline.html">The Asset Pipeline</a></dd>
                  <dd><a href="working_with_javascript_in_rails.html">Working with JavaScript in Rails</a></dd>
                  <dd><a href="autoloading_and_reloading_constants.html">Autoloading and Reloading</a></dd>
                  <dd><a href="classic_to_zeitwerk_howto.html">Migrating from Classic to Zeitwerk</a></dd>
                  <dd><a href="caching_with_rails.html">Caching with Rails: An Overview</a></dd>
                  <dd><a href="api_app.html">Using Rails for API-only Applications</a></dd>
                  <dd><a href="active_record_multiple_databases.html">Multiple Databases</a></dd>
                  <dd><a href="active_record_composite_primary_keys.html">Composite Primary Keys</a></dd>
                </div>
                <div class="guides-section">
                  <dt>Extending Rails</dt>
                  <dd><a href="rails_on_rack.html">Rails on Rack</a></dd>
                  <dd><a href="generators.html">Creating and Customizing Rails Generators &amp; Templates</a></dd>
                </div>
                <div class="guides-section">
                  <dt>Contributing</dt>
                  <dd><a href="contributing_to_ruby_on_rails.html">Contributing to Ruby on Rails</a></dd>
                  <dd><a href="api_documentation_guidelines.html">API Documentation Guidelines</a></dd>
                  <dd><a href="ruby_on_rails_guides_guidelines.html">Guides Guidelines</a></dd>
                  <dd><a href="development_dependencies_install.html">Installing Rails Core Development Dependencies</a></dd>
                </div>
                <div class="guides-section">
                  <dt>Policies</dt>
                  <dd><a href="maintenance_policy.html">Maintenance Policy</a></dd>
                </div>
                <div class="guides-section">
                  <dt>Release Notes</dt>
                  <dd><a href="upgrading_ruby_on_rails.html">Upgrading Ruby on Rails</a></dd>
                  <dd><a href="7_1_release_notes.html">Version 7.1 - October 2023</a></dd>
                  <dd><a href="7_0_release_notes.html">Version 7.0 - December 2021</a></dd>
                  <dd><a href="6_1_release_notes.html">Version 6.1 - December 2020</a></dd>
                  <dd><a href="6_0_release_notes.html">Version 6.0 - August 2019</a></dd>
                  <dd><a href="5_2_release_notes.html">Version 5.2 - April 2018</a></dd>
                  <dd><a href="5_1_release_notes.html">Version 5.1 - April 2017</a></dd>
                  <dd><a href="5_0_release_notes.html">Version 5.0 - June 2016</a></dd>
                  <dd><a href="4_2_release_notes.html">Version 4.2 - December 2014</a></dd>
                  <dd><a href="4_1_release_notes.html">Version 4.1 - April 2014</a></dd>
                  <dd><a href="4_0_release_notes.html">Version 4.0 - June 2013</a></dd>
                  <dd><a href="3_2_release_notes.html">Version 3.2 - January 2012</a></dd>
                  <dd><a href="3_1_release_notes.html">Version 3.1 - August 2011</a></dd>
                  <dd><a href="3_0_release_notes.html">Version 3.0 - August 2010</a></dd>
                  <dd><a href="2_3_release_notes.html">Version 2.3 - March 2009</a></dd>
                  <dd><a href="2_2_release_notes.html">Version 2.2 - November 2008</a></dd>
                </div>
            </dl>
          </div>
        </li>
        <li><a class="nav-item" href="contributing_to_ruby_on_rails.html">Contribute</a></li>
        <li class="guides-index guides-index-small">
          <select class="guides-index-item nav-item">
            <option value="index.html">Guides Index</option>
              <optgroup label="Start Here">
                  <option value="getting_started.html">Getting Started with Rails</option>
              </optgroup>
              <optgroup label="Models">
                  <option value="active_record_basics.html">Active Record Basics</option>
                  <option value="active_record_migrations.html">Active Record Migrations</option>
                  <option value="active_record_validations.html">Active Record Validations</option>
                  <option value="active_record_callbacks.html">Active Record Callbacks</option>
                  <option value="association_basics.html">Active Record Associations</option>
                  <option value="active_record_querying.html">Active Record Query Interface</option>
              </optgroup>
              <optgroup label="Views">
                  <option value="layouts_and_rendering.html">Layouts and Rendering in Rails</option>
                  <option value="form_helpers.html">Action View Form Helpers</option>
              </optgroup>
              <optgroup label="Controllers">
                  <option value="action_controller_overview.html">Action Controller Overview</option>
                  <option value="routing.html">Rails Routing from the Outside In</option>
              </optgroup>
              <optgroup label="Other Components">
                  <option value="active_support_core_extensions.html">Active Support Core Extensions</option>
                  <option value="action_mailer_basics.html">Action Mailer Basics</option>
                  <option value="active_job_basics.html">Active Job Basics</option>
                  <option value="active_storage_overview.html">Active Storage Overview</option>
                  <option value="action_cable_overview.html">Action Cable Overview</option>
              </optgroup>
              <optgroup label="Digging Deeper">
                  <option value="i18n.html">Rails Internationalization (I18n) API</option>
                  <option value="testing.html">Testing Rails Applications</option>
                  <option value="security.html">Securing Rails Applications</option>
                  <option value="error_reporting.html">Error Reporting in Rails Applications</option>
                  <option value="debugging_rails_applications.html">Debugging Rails Applications</option>
                  <option value="configuring.html">Configuring Rails Applications</option>
                  <option value="command_line.html">The Rails Command Line</option>
                  <option value="asset_pipeline.html">The Asset Pipeline</option>
                  <option value="working_with_javascript_in_rails.html">Working with JavaScript in Rails</option>
                  <option value="autoloading_and_reloading_constants.html">Autoloading and Reloading</option>
                  <option value="classic_to_zeitwerk_howto.html">Migrating from Classic to Zeitwerk</option>
                  <option value="caching_with_rails.html">Caching with Rails: An Overview</option>
                  <option value="api_app.html">Using Rails for API-only Applications</option>
                  <option value="active_record_multiple_databases.html">Multiple Databases</option>
                  <option value="active_record_composite_primary_keys.html">Composite Primary Keys</option>
              </optgroup>
              <optgroup label="Extending Rails">
                  <option value="rails_on_rack.html">Rails on Rack</option>
                  <option value="generators.html">Creating and Customizing Rails Generators &amp; Templates</option>
              </optgroup>
              <optgroup label="Contributing">
                  <option value="contributing_to_ruby_on_rails.html">Contributing to Ruby on Rails</option>
                  <option value="api_documentation_guidelines.html">API Documentation Guidelines</option>
                  <option value="ruby_on_rails_guides_guidelines.html">Guides Guidelines</option>
                  <option value="development_dependencies_install.html">Installing Rails Core Development Dependencies</option>
              </optgroup>
              <optgroup label="Policies">
                  <option value="maintenance_policy.html">Maintenance Policy</option>
              </optgroup>
              <optgroup label="Release Notes">
                  <option value="upgrading_ruby_on_rails.html">Upgrading Ruby on Rails</option>
                  <option value="7_1_release_notes.html">Version 7.1 - October 2023</option>
                  <option value="7_0_release_notes.html">Version 7.0 - December 2021</option>
                  <option value="6_1_release_notes.html">Version 6.1 - December 2020</option>
                  <option value="6_0_release_notes.html">Version 6.0 - August 2019</option>
                  <option value="5_2_release_notes.html">Version 5.2 - April 2018</option>
                  <option value="5_1_release_notes.html">Version 5.1 - April 2017</option>
                  <option value="5_0_release_notes.html">Version 5.0 - June 2016</option>
                  <option value="4_2_release_notes.html">Version 4.2 - December 2014</option>
                  <option value="4_1_release_notes.html">Version 4.1 - April 2014</option>
                  <option value="4_0_release_notes.html">Version 4.0 - June 2013</option>
                  <option value="3_2_release_notes.html">Version 3.2 - January 2012</option>
                  <option value="3_1_release_notes.html">Version 3.1 - August 2011</option>
                  <option value="3_0_release_notes.html">Version 3.0 - August 2010</option>
                  <option value="2_3_release_notes.html">Version 2.3 - March 2009</option>
                  <option value="2_2_release_notes.html">Version 2.2 - November 2008</option>
              </optgroup>
          </select>
        </li>
      </ul>
    </div>
  </div>
  <hr class="hide" />

  <div id="feature">
    <div class="wrapper">
      <h1>Composite Primary Keys</h1><p>This guide is an introduction to composite primary keys for database tables.</p><p>After reading this guide you will be able to:</p>
<ul>
<li>Create a table with a composite primary key</li>
<li>Query a model with a composite primary key</li>
<li>Enable your model to use a composite primary key for queries and associations</li>
<li>Create forms for models that use composite primary keys</li>
<li>Extract composite primary keys from controller parameters</li>
<li>Use database fixtures for tables with composite primary keys</li>
</ul>


                <div id="subCol">
            <h3 class="chapter"><img src="images/icon_book-close-bookmark-1.svg" alt="" />Chapters</h3>
            <ol class="chapters">
<li><a href="#what-are-composite-primary-keys-questionmark">What are Composite Primary Keys?</a></li>
<li><a href="#composite-primary-key-migrations">Composite Primary Key Migrations</a></li>
<li><a href="#querying-models">Querying Models</a>

<ul>
<li><a href="#using-find">Using <code>#find</code></a></li>
<li><a href="#using-where">Using <code>#where</code></a></li>
</ul></li>
<li><a href="#associations-between-models-with-composite-primary-keys">Associations between Models with Composite Primary Keys</a></li>
<li><a href="#forms-for-composite-primary-key-models">Forms for Composite Primary Key Models</a></li>
<li><a href="#composite-key-parameters">Composite Key Parameters</a></li>
<li><a href="#composite-primary-key-fixtures">Composite Primary Key Fixtures</a></li>
</ol>

          </div>

    </div>
  </div>

  <div id="container">
    <div class="wrapper">
      <div id="mainCol">
        <h2 id="what-are-composite-primary-keys-questionmark"><a class="anchorlink" href="#what-are-composite-primary-keys-questionmark">1 What are Composite Primary Keys?</a></h2><p>Sometimes a single column's value isn't enough to uniquely identify every row
of a table, and a combination of two or more columns is required.
This can be the case when using a legacy database schema without a single <code>id</code>
column as a primary key, or when altering schemas for sharding or multitenancy.</p><p>Composite primary keys increase complexity and can be slower than a single
primary key column. Ensure your use-case requires a composite primary key
before using one.</p><h2 id="composite-primary-key-migrations"><a class="anchorlink" href="#composite-primary-key-migrations">2 Composite Primary Key Migrations</a></h2><p>You can create a table with a composite primary key by passing the
<code>:primary_key</code> option to <code>create_table</code> with an array value:</p><div class="code_container">
<pre><code class="highlight ruby"><span class="k">class</span> <span class="nc">CreateProducts</span> <span class="o">&lt;</span> <span class="no">ActiveRecord</span><span class="o">::</span><span class="no">Migration</span><span class="p">[</span><span class="mf">7.2</span><span class="p">]</span>
  <span class="k">def</span> <span class="nf">change</span>
    <span class="n">create_table</span> <span class="ss">:products</span><span class="p">,</span> <span class="ss">primary_key: </span><span class="p">[</span><span class="ss">:store_id</span><span class="p">,</span> <span class="ss">:sku</span><span class="p">]</span> <span class="k">do</span> <span class="o">|</span><span class="n">t</span><span class="o">|</span>
      <span class="n">t</span><span class="p">.</span><span class="nf">integer</span> <span class="ss">:store_id</span>
      <span class="n">t</span><span class="p">.</span><span class="nf">string</span> <span class="ss">:sku</span>
      <span class="n">t</span><span class="p">.</span><span class="nf">text</span> <span class="ss">:description</span>
    <span class="k">end</span>
  <span class="k">end</span>
<span class="k">end</span>
</code></pre>
<button class="clipboard-button" data-clipboard-text="class CreateProducts < ActiveRecord::Migration[7.2]
  def change
    create_table :products, primary_key: [:store_id, :sku] do |t|
      t.integer :store_id
      t.string :sku
      t.text :description
    end
  end
end
">Copy</button>
</div>
<h2 id="querying-models"><a class="anchorlink" href="#querying-models">3 Querying Models</a></h2><h3 id="using-find"><a class="anchorlink" href="#using-find">3.1 Using <code>#find</code></a></h3><p>If your table uses a composite primary key, you'll need to pass an array
when using <code>#find</code> to locate a record:</p><div class="code_container">
<pre><code class="highlight irb"><span class="c"># Find the product with store_id 3 and sku "XYZ12345"
</span><span class="gp">irb&gt;</span><span class="w"> </span><span class="n">product</span> <span class="o">=</span> <span class="no">Product</span><span class="p">.</span><span class="nf">find</span><span class="p">([</span><span class="mi">3</span><span class="p">,</span> <span class="s2">"XYZ12345"</span><span class="p">])</span>
<span class="gp">=&gt; #&lt;Product store_id: 3, sku: "XYZ12345", description: "Yellow socks"&gt;</span><span class="w">
</span></code></pre>
<button class="clipboard-button" data-clipboard-text="product = Product.find([3, &quot;XYZ12345&quot;])
">Copy</button>
</div>
<p>The SQL equivalent of the above is:</p><div class="code_container">
<pre><code class="highlight sql"><span class="k">SELECT</span> <span class="o">*</span> <span class="k">FROM</span> <span class="n">products</span> <span class="k">WHERE</span> <span class="n">store_id</span> <span class="o">=</span> <span class="mi">3</span> <span class="k">AND</span> <span class="n">sku</span> <span class="o">=</span> <span class="nv">"XYZ12345"</span>
</code></pre>
<button class="clipboard-button" data-clipboard-text="SELECT * FROM products WHERE store_id = 3 AND sku = &quot;XYZ12345&quot;
">Copy</button>
</div>
<p>To find multiple records with composite IDs, pass an array of arrays to <code>#find</code>:</p><div class="code_container">
<pre><code class="highlight irb"><span class="c"># Find the products with primary keys [1, "ABC98765"] and [7, "ZZZ11111"]
</span><span class="gp">irb&gt;</span><span class="w"> </span><span class="n">products</span> <span class="o">=</span> <span class="no">Product</span><span class="p">.</span><span class="nf">find</span><span class="p">([[</span><span class="mi">1</span><span class="p">,</span> <span class="s2">"ABC98765"</span><span class="p">],</span> <span class="p">[</span><span class="mi">7</span><span class="p">,</span> <span class="s2">"ZZZ11111"</span><span class="p">]])</span>
<span class="p">=&gt;</span> <span class="p">[</span>
<span class="gp">  #&lt;Product store_id: 1, sku: "ABC98765", description: "Red Hat"&gt;</span><span class="p">,</span>
<span class="gp">  #&lt;Product store_id: 7, sku: "ZZZ11111", description: "Green Pants"&gt;</span><span class="w">
</span><span class="go">]
</span></code></pre>
<button class="clipboard-button" data-clipboard-text="products = Product.find([[1, &quot;ABC98765&quot;], [7, &quot;ZZZ11111&quot;]])
">Copy</button>
</div>
<p>The SQL equivalent of the above is:</p><div class="code_container">
<pre><code class="highlight sql"><span class="k">SELECT</span> <span class="o">*</span> <span class="k">FROM</span> <span class="n">products</span> <span class="k">WHERE</span> <span class="p">(</span><span class="n">store_id</span> <span class="o">=</span> <span class="mi">1</span> <span class="k">AND</span> <span class="n">sku</span> <span class="o">=</span> <span class="s1">'ABC98765'</span> <span class="k">OR</span> <span class="n">store_id</span> <span class="o">=</span> <span class="mi">7</span> <span class="k">AND</span> <span class="n">sku</span> <span class="o">=</span> <span class="s1">'ZZZ11111'</span><span class="p">)</span>
</code></pre>
<button class="clipboard-button" data-clipboard-text="SELECT * FROM products WHERE (store_id = 1 AND sku = 'ABC98765' OR store_id = 7 AND sku = 'ZZZ11111')
">Copy</button>
</div>
<p>Models with composite primary keys will also use the full composite primary key
when ordering:</p><div class="code_container">
<pre><code class="highlight irb"><span class="gp">irb&gt;</span><span class="w"> </span><span class="n">product</span> <span class="o">=</span> <span class="no">Product</span><span class="p">.</span><span class="nf">first</span>
<span class="gp">=&gt; #&lt;Product store_id: 1, sku: "ABC98765", description: "Red Hat"&gt;</span><span class="w">
</span></code></pre>
<button class="clipboard-button" data-clipboard-text="product = Product.first
">Copy</button>
</div>
<p>The SQL equivalent of the above is:</p><div class="code_container">
<pre><code class="highlight sql"><span class="k">SELECT</span> <span class="o">*</span> <span class="k">FROM</span> <span class="n">products</span> <span class="k">ORDER</span> <span class="k">BY</span> <span class="n">products</span><span class="p">.</span><span class="n">store_id</span> <span class="k">ASC</span><span class="p">,</span> <span class="n">products</span><span class="p">.</span><span class="n">sku</span> <span class="k">ASC</span> <span class="k">LIMIT</span> <span class="mi">1</span>
</code></pre>
<button class="clipboard-button" data-clipboard-text="SELECT * FROM products ORDER BY products.store_id ASC, products.sku ASC LIMIT 1
">Copy</button>
</div>
<h3 id="using-where"><a class="anchorlink" href="#using-where">3.2 Using <code>#where</code></a></h3><p>Hash conditions for <code>#where</code> may be specified in a tuple-like syntax.
This can be useful for querying composite primary key relations:</p><div class="code_container">
<pre><code class="highlight ruby"><span class="no">Product</span><span class="p">.</span><span class="nf">where</span><span class="p">(</span><span class="no">Product</span><span class="p">.</span><span class="nf">primary_key</span> <span class="o">=&gt;</span> <span class="p">[[</span><span class="mi">1</span><span class="p">,</span> <span class="s2">"ABC98765"</span><span class="p">],</span> <span class="p">[</span><span class="mi">7</span><span class="p">,</span> <span class="s2">"ZZZ11111"</span><span class="p">]])</span>
</code></pre>
<button class="clipboard-button" data-clipboard-text="Product.where(Product.primary_key => [[1, &quot;ABC98765&quot;], [7, &quot;ZZZ11111&quot;]])
">Copy</button>
</div>
<h4 id="conditions-with-id"><a class="anchorlink" href="#conditions-with-id">3.2.1 Conditions with <code>:id</code></a></h4><p>When specifying conditions on methods like <code>find_by</code> and <code>where</code>, the use
of <code>id</code> will match against an <code>:id</code> attribute on the model. This is different
from <code>find</code>, where the ID passed in should be a primary key value.</p><p>Take caution when using <code>find_by(id:)</code> on models where <code>:id</code> is not the primary
key, such as composite primary key models. See the <a href="active_record_querying.html#using-id-as-a-condition">Active Record Querying</a>
guide to learn more.</p><h2 id="associations-between-models-with-composite-primary-keys"><a class="anchorlink" href="#associations-between-models-with-composite-primary-keys">4 Associations between Models with Composite Primary Keys</a></h2><p>Rails is often able to infer the primary key - foreign key information between
associated models with composite primary keys without needing extra information.
Take the following example:</p><div class="code_container">
<pre><code class="highlight ruby"><span class="k">class</span> <span class="nc">Order</span> <span class="o">&lt;</span> <span class="no">ApplicationRecord</span>
  <span class="nb">self</span><span class="p">.</span><span class="nf">primary_key</span> <span class="o">=</span> <span class="p">[</span><span class="ss">:shop_id</span><span class="p">,</span> <span class="ss">:id</span><span class="p">]</span>
  <span class="n">has_many</span> <span class="ss">:books</span>
<span class="k">end</span>

<span class="k">class</span> <span class="nc">Book</span> <span class="o">&lt;</span> <span class="no">ApplicationRecord</span>
  <span class="n">belongs_to</span> <span class="ss">:order</span>
<span class="k">end</span>
</code></pre>
<button class="clipboard-button" data-clipboard-text="class Order < ApplicationRecord
  self.primary_key = [:shop_id, :id]
  has_many :books
end

class Book < ApplicationRecord
  belongs_to :order
end
">Copy</button>
</div>
<p>Here, Rails assumes that the <code>:id</code> column should be used as the primary key for
the association between an order and its books, just as with a regular
<code>has_many</code> / <code>belongs_to</code> association. It will infer that the foreign key column
on the <code>books</code> table is <code>:order_id</code>. Accessing a book's order:</p><div class="code_container">
<pre><code class="highlight ruby"><span class="n">order</span> <span class="o">=</span> <span class="no">Order</span><span class="p">.</span><span class="nf">create!</span><span class="p">(</span><span class="ss">id: </span><span class="p">[</span><span class="mi">1</span><span class="p">,</span> <span class="mi">2</span><span class="p">],</span> <span class="ss">status: </span><span class="s2">"pending"</span><span class="p">)</span>
<span class="n">book</span> <span class="o">=</span> <span class="n">order</span><span class="p">.</span><span class="nf">books</span><span class="p">.</span><span class="nf">create!</span><span class="p">(</span><span class="ss">title: </span><span class="s2">"A Cool Book"</span><span class="p">)</span>

<span class="n">book</span><span class="p">.</span><span class="nf">reload</span><span class="p">.</span><span class="nf">order</span>
</code></pre>
<button class="clipboard-button" data-clipboard-text="order = Order.create!(id: [1, 2], status: &quot;pending&quot;)
book = order.books.create!(title: &quot;A Cool Book&quot;)

book.reload.order
">Copy</button>
</div>
<p>will generate the following SQL to access the order:</p><div class="code_container">
<pre><code class="highlight sql"><span class="k">SELECT</span> <span class="o">*</span> <span class="k">FROM</span> <span class="n">orders</span> <span class="k">WHERE</span> <span class="n">id</span> <span class="o">=</span> <span class="mi">2</span>
</code></pre>
<button class="clipboard-button" data-clipboard-text="SELECT * FROM orders WHERE id = 2
">Copy</button>
</div>
<p>This only works if the model's composite primary key contains the <code>:id</code> column,
<em>and</em> the column is unique for all records. In order to use the full composite
primary key in associations, set the <code>query_constraints</code> option on the
association. This option specifies a composite foreign key on the association,
meaning that all columns in the foreign key will be used to query the
associated record(s). For example:</p><div class="code_container">
<pre><code class="highlight ruby"><span class="k">class</span> <span class="nc">Author</span> <span class="o">&lt;</span> <span class="no">ApplicationRecord</span>
  <span class="nb">self</span><span class="p">.</span><span class="nf">primary_key</span> <span class="o">=</span> <span class="p">[</span><span class="ss">:first_name</span><span class="p">,</span> <span class="ss">:last_name</span><span class="p">]</span>
  <span class="n">has_many</span> <span class="ss">:books</span><span class="p">,</span> <span class="ss">query_constraints: </span><span class="p">[</span><span class="ss">:first_name</span><span class="p">,</span> <span class="ss">:last_name</span><span class="p">]</span>
<span class="k">end</span>

<span class="k">class</span> <span class="nc">Book</span> <span class="o">&lt;</span> <span class="no">ApplicationRecord</span>
  <span class="n">belongs_to</span> <span class="ss">:author</span><span class="p">,</span> <span class="ss">query_constraints: </span><span class="p">[</span><span class="ss">:author_first_name</span><span class="p">,</span> <span class="ss">:author_last_name</span><span class="p">]</span>
<span class="k">end</span>
</code></pre>
<button class="clipboard-button" data-clipboard-text="class Author < ApplicationRecord
  self.primary_key = [:first_name, :last_name]
  has_many :books, query_constraints: [:first_name, :last_name]
end

class Book < ApplicationRecord
  belongs_to :author, query_constraints: [:author_first_name, :author_last_name]
end
">Copy</button>
</div>
<p>Accessing a book's author:</p><div class="code_container">
<pre><code class="highlight ruby"><span class="n">author</span> <span class="o">=</span> <span class="no">Author</span><span class="p">.</span><span class="nf">create!</span><span class="p">(</span><span class="ss">first_name: </span><span class="s2">"Jane"</span><span class="p">,</span> <span class="ss">last_name: </span><span class="s2">"Doe"</span><span class="p">)</span>
<span class="n">book</span> <span class="o">=</span> <span class="n">author</span><span class="p">.</span><span class="nf">books</span><span class="p">.</span><span class="nf">create!</span><span class="p">(</span><span class="ss">title: </span><span class="s2">"A Cool Book"</span><span class="p">)</span>

<span class="n">book</span><span class="p">.</span><span class="nf">reload</span><span class="p">.</span><span class="nf">author</span>
</code></pre>
<button class="clipboard-button" data-clipboard-text="author = Author.create!(first_name: &quot;Jane&quot;, last_name: &quot;Doe&quot;)
book = author.books.create!(title: &quot;A Cool Book&quot;)

book.reload.author
">Copy</button>
</div>
<p>will use <code>:first_name</code> <em>and</em> <code>:last_name</code> in the SQL query:</p><div class="code_container">
<pre><code class="highlight sql"><span class="k">SELECT</span> <span class="o">*</span> <span class="k">FROM</span> <span class="n">authors</span> <span class="k">WHERE</span> <span class="n">first_name</span> <span class="o">=</span> <span class="s1">'Jane'</span> <span class="k">AND</span> <span class="n">last_name</span> <span class="o">=</span> <span class="s1">'Doe'</span>
</code></pre>
<button class="clipboard-button" data-clipboard-text="SELECT * FROM authors WHERE first_name = 'Jane' AND last_name = 'Doe'
">Copy</button>
</div>
<h2 id="forms-for-composite-primary-key-models"><a class="anchorlink" href="#forms-for-composite-primary-key-models">5 Forms for Composite Primary Key Models</a></h2><p>Forms may also be built for composite primary key models.
See the <a href="form_helpers.html">Form Helpers</a> guide for more information on the form builder syntax.</p><p>Given a <code>@book</code> model object with a composite key <code>[:author_id, :id]</code>:</p><div class="code_container">
<pre><code class="highlight ruby"><span class="vi">@book</span> <span class="o">=</span> <span class="no">Book</span><span class="p">.</span><span class="nf">find</span><span class="p">([</span><span class="mi">2</span><span class="p">,</span> <span class="mi">25</span><span class="p">])</span>
<span class="c1"># =&gt; #&lt;Book id: 25, title: "Some book", author_id: 2&gt;</span>
</code></pre>
<button class="clipboard-button" data-clipboard-text="@book = Book.find([2, 25])
# => #<Book id: 25, title: &quot;Some book&quot;, author_id: 2>
">Copy</button>
</div>
<p>The following form:</p><div class="code_container">
<pre><code class="highlight erb"><span class="cp">&lt;%=</span> <span class="n">form_with</span> <span class="ss">model: </span><span class="vi">@book</span> <span class="k">do</span> <span class="o">|</span><span class="n">form</span><span class="o">|</span> <span class="cp">%&gt;</span>
  <span class="cp">&lt;%=</span> <span class="n">form</span><span class="p">.</span><span class="nf">text_field</span> <span class="ss">:title</span> <span class="cp">%&gt;</span>
  <span class="cp">&lt;%=</span> <span class="n">form</span><span class="p">.</span><span class="nf">submit</span> <span class="cp">%&gt;</span>
<span class="cp">&lt;%</span> <span class="k">end</span> <span class="cp">%&gt;</span>
</code></pre>
<button class="clipboard-button" data-clipboard-text="<%= form_with model: @book do |form| %>
  <%= form.text_field :title %>
  <%= form.submit %>
<% end %>
">Copy</button>
</div>
<p>Outputs:</p><div class="code_container">
<pre><code class="highlight html"><span class="nt">&lt;form</span> <span class="na">action=</span><span class="s">"/books/2_25"</span> <span class="na">method=</span><span class="s">"post"</span> <span class="na">accept-charset=</span><span class="s">"UTF-8"</span> <span class="nt">&gt;</span>
  <span class="nt">&lt;input</span> <span class="na">name=</span><span class="s">"authenticity_token"</span> <span class="na">type=</span><span class="s">"hidden"</span> <span class="na">value=</span><span class="s">"..."</span> <span class="nt">/&gt;</span>
  <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"text"</span> <span class="na">name=</span><span class="s">"book[title]"</span> <span class="na">id=</span><span class="s">"book_title"</span> <span class="na">value=</span><span class="s">"My book"</span> <span class="nt">/&gt;</span>
  <span class="nt">&lt;input</span> <span class="na">type=</span><span class="s">"submit"</span> <span class="na">name=</span><span class="s">"commit"</span> <span class="na">value=</span><span class="s">"Update Book"</span> <span class="na">data-disable-with=</span><span class="s">"Update Book"</span><span class="nt">&gt;</span>
<span class="nt">&lt;/form&gt;</span>
</code></pre>
<button class="clipboard-button" data-clipboard-text="<form action=&quot;/books/2_25&quot; method=&quot;post&quot; accept-charset=&quot;UTF-8&quot; >
  <input name=&quot;authenticity_token&quot; type=&quot;hidden&quot; value=&quot;...&quot; />
  <input type=&quot;text&quot; name=&quot;book[title]&quot; id=&quot;book_title&quot; value=&quot;My book&quot; />
  <input type=&quot;submit&quot; name=&quot;commit&quot; value=&quot;Update Book&quot; data-disable-with=&quot;Update Book&quot;>
</form>
">Copy</button>
</div>
<p>Note the generated URL contains the <code>author_id</code> and <code>id</code> delimited by an
underscore. Once submitted, the controller can extract primary key values from
the parameters and update the record. See the next section for more details.</p><h2 id="composite-key-parameters"><a class="anchorlink" href="#composite-key-parameters">6 Composite Key Parameters</a></h2><p>Composite key parameters contain multiple values in one parameter.
For this reason, we need to be able to extract each value and pass them to
Active Record. We can leverage the <code>extract_value</code> method for this use-case.</p><p>Given the following controller:</p><div class="code_container">
<pre><code class="highlight ruby"><span class="k">class</span> <span class="nc">BooksController</span> <span class="o">&lt;</span> <span class="no">ApplicationController</span>
  <span class="k">def</span> <span class="nf">show</span>
    <span class="c1"># Extract the composite ID value from URL parameters.</span>
    <span class="nb">id</span> <span class="o">=</span> <span class="n">params</span><span class="p">.</span><span class="nf">extract_value</span><span class="p">(</span><span class="ss">:id</span><span class="p">)</span>
    <span class="c1"># Find the book using the composite ID.</span>
    <span class="vi">@book</span> <span class="o">=</span> <span class="no">Book</span><span class="p">.</span><span class="nf">find</span><span class="p">(</span><span class="nb">id</span><span class="p">)</span>
    <span class="c1"># use the default rendering behaviour to render the show view.</span>
  <span class="k">end</span>
<span class="k">end</span>
</code></pre>
<button class="clipboard-button" data-clipboard-text="class BooksController < ApplicationController
  def show
    # Extract the composite ID value from URL parameters.
    id = params.extract_value(:id)
    # Find the book using the composite ID.
    @book = Book.find(id)
    # use the default rendering behaviour to render the show view.
  end
end
">Copy</button>
</div>
<p>And the following route:</p><div class="code_container">
<pre><code class="highlight ruby"><span class="n">get</span> <span class="s1">'/books/:id'</span><span class="p">,</span> <span class="ss">to: </span><span class="s1">'books#show'</span>
</code></pre>
<button class="clipboard-button" data-clipboard-text="get '/books/:id', to: 'books#show'
">Copy</button>
</div>
<p>When a user opens the URL <code>/books/4_2</code>, the controller will extract the
composite key value <code>["4", "2"]</code> and pass it to <code>Book.find</code> to render the right
record in the view. The <code>extract_value</code> method may be used to extract arrays
out of any delimited parameters.</p><h2 id="composite-primary-key-fixtures"><a class="anchorlink" href="#composite-primary-key-fixtures">7 Composite Primary Key Fixtures</a></h2><p>Fixtures for composite primary key tables are fairly similar to normal tables.
When using an id column, the column may be omitted as usual:</p><div class="code_container">
<pre><code class="highlight ruby"><span class="k">class</span> <span class="nc">Book</span> <span class="o">&lt;</span> <span class="no">ApplicationRecord</span>
  <span class="nb">self</span><span class="p">.</span><span class="nf">primary_key</span> <span class="o">=</span> <span class="p">[</span><span class="ss">:author_id</span><span class="p">,</span> <span class="ss">:id</span><span class="p">]</span>
  <span class="n">belongs_to</span> <span class="ss">:author</span>
<span class="k">end</span>
</code></pre>
<button class="clipboard-button" data-clipboard-text="class Book < ApplicationRecord
  self.primary_key = [:author_id, :id]
  belongs_to :author
end
">Copy</button>
</div>
<div class="code_container">
<pre><code class="highlight yml"><span class="c1"># books.yml</span>
<span class="na">alices_adventure_in_wonderland</span><span class="pi">:</span>
  <span class="na">author_id</span><span class="pi">:</span> <span class="s">&lt;%= ActiveRecord::FixtureSet.identify(:lewis_carroll) %&gt;</span>
  <span class="na">title</span><span class="pi">:</span> <span class="s2">"</span><span class="s">Alice's</span><span class="nv"> </span><span class="s">Adventures</span><span class="nv"> </span><span class="s">in</span><span class="nv"> </span><span class="s">Wonderland"</span>
</code></pre>
<button class="clipboard-button" data-clipboard-text="# books.yml
alices_adventure_in_wonderland:
  author_id: <%= ActiveRecord::FixtureSet.identify(:lewis_carroll) %>
  title: &quot;Alice's Adventures in Wonderland&quot;
">Copy</button>
</div>
<p>However, in order to support composite primary key relationships,
you must use the <code>composite_identify</code> method:</p><div class="code_container">
<pre><code class="highlight ruby"><span class="k">class</span> <span class="nc">BookOrder</span> <span class="o">&lt;</span> <span class="no">ApplicationRecord</span>
  <span class="nb">self</span><span class="p">.</span><span class="nf">primary_key</span> <span class="o">=</span> <span class="p">[</span><span class="ss">:shop_id</span><span class="p">,</span> <span class="ss">:id</span><span class="p">]</span>
  <span class="n">belongs_to</span> <span class="ss">:order</span><span class="p">,</span> <span class="ss">query_constraints: </span><span class="p">[</span><span class="ss">:shop_id</span><span class="p">,</span> <span class="ss">:order_id</span><span class="p">]</span>
  <span class="n">belongs_to</span> <span class="ss">:book</span><span class="p">,</span> <span class="ss">query_constraints: </span><span class="p">[</span><span class="ss">:author_id</span><span class="p">,</span> <span class="ss">:book_id</span><span class="p">]</span>
<span class="k">end</span>
</code></pre>
<button class="clipboard-button" data-clipboard-text="class BookOrder < ApplicationRecord
  self.primary_key = [:shop_id, :id]
  belongs_to :order, query_constraints: [:shop_id, :order_id]
  belongs_to :book, query_constraints: [:author_id, :book_id]
end
">Copy</button>
</div>
<div class="code_container">
<pre><code class="highlight yml"><span class="c1"># book_orders.yml</span>
<span class="na">alices_adventure_in_wonderland_in_books</span><span class="pi">:</span>
  <span class="na">author</span><span class="pi">:</span> <span class="s">lewis_carroll</span>
  <span class="na">book_id</span><span class="pi">:</span> <span class="s">&lt;%= ActiveRecord::FixtureSet.composite_identify(</span>
              <span class="s">:alices_adventure_in_wonderland, Book.primary_key)[:id] %&gt;</span>
  <span class="na">shop</span><span class="pi">:</span> <span class="s">book_store</span>
  <span class="na">order_id</span><span class="pi">:</span> <span class="s">&lt;%= ActiveRecord::FixtureSet.composite_identify(</span>
              <span class="s">:books, Order.primary_key)[:id] %&gt;</span>
</code></pre>
<button class="clipboard-button" data-clipboard-text="# book_orders.yml
alices_adventure_in_wonderland_in_books:
  author: lewis_carroll
  book_id: <%= ActiveRecord::FixtureSet.composite_identify(
              :alices_adventure_in_wonderland, Book.primary_key)[:id] %>
  shop: book_store
  order_id: <%= ActiveRecord::FixtureSet.composite_identify(
              :books, Order.primary_key)[:id] %>
">Copy</button>
</div>


        <h3>Feedback</h3>
        <p>
          You're encouraged to help improve the quality of this guide.
        </p>
        <p>
          Please contribute if you see any typos or factual errors.
          To get started, you can read our <a href="https://edgeguides.rubyonrails.org/contributing_to_ruby_on_rails.html#contributing-to-the-rails-documentation">documentation contributions</a> section.
        </p>
        <p>
          You may also find incomplete content or stuff that is not up to date.
          Please do add any missing documentation for main. Make sure to check
          <a href="https://edgeguides.rubyonrails.org">Edge Guides</a> first to verify
          if the issues are already fixed or not on the main branch.
          Check the <a href="ruby_on_rails_guides_guidelines.html">Ruby on Rails Guides Guidelines</a>
          for style and conventions.
        </p>
        <p>
          If for whatever reason you spot something to fix but cannot patch it yourself, please
          <a href="https://github.com/rails/rails/issues">open an issue</a>.
        </p>
        <p>And last but not least, any kind of discussion regarding Ruby on Rails
          documentation is very welcome on the <a href="https://discuss.rubyonrails.org/c/rubyonrails-docs">official Ruby on Rails Forum</a>.
        </p>
      </div>
    </div>
  </div>

  <hr class="hide" />
  <div id="footer">
    <div class="wrapper">
      <p>This work is licensed under a <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International</a> License</p>
<p>"Rails", "Ruby on Rails", and the Rails logo are trademarks of David Heinemeier Hansson. All rights reserved.</p>

    </div>
  </div>
</body>
</html>
