<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Working with JavaScript in Rails — Ruby on Rails Guides</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css" data-turbo-track="reload">
  <link rel="stylesheet" type="text/css" href="stylesheets/print.css" media="print">
  <link rel="stylesheet" type="text/css" href="stylesheets/highlight.css" data-turbo-track="reload">
  
  <link rel="icon" href="images/favicon.ico" sizes="any">
  <link rel="icon" href="images/icon.svg" type="image/svg+xml">
  <link rel="apple-touch-icon" href="images/icon.png">
  
  <script src="javascripts/@hotwired--turbo.js" data-turbo-track="reload"></script>
  <script src="javascripts/clipboard.js" data-turbo-track="reload"></script>
  <script src="javascripts/guides.js" data-turbo-track="reload"></script>

  <meta property="og:title" content="Working with JavaScript in Rails — Ruby on Rails Guides" />
  <meta name="description" content="Working with JavaScript in RailsThis guide covers the options for integrating JavaScript functionality into your Rails application, including the options you have for using external JavaScript packages and how to use Turbo with Rails.After reading this guide, you will know: How to use Rails without the need for a Node.js, Yarn, or a JavaScript bundler. How to create a new Rails application using import maps, bun, esbuild, rollup, or webpack to bundle your JavaScript. What Turbo is, and how to use it. How to use the Turbo HTML helpers provided by Rails." />
  <meta property="og:description" content="Working with JavaScript in RailsThis guide covers the options for integrating JavaScript functionality into your Rails application, including the options you have for using external JavaScript packages and how to use Turbo with Rails.After reading this guide, you will know: How to use Rails without the need for a Node.js, Yarn, or a JavaScript bundler. How to create a new Rails application using import maps, bun, esbuild, rollup, or webpack to bundle your JavaScript. What Turbo is, and how to use it. How to use the Turbo HTML helpers provided by Rails." />
  <meta property="og:locale" content="en_US" />
  <meta property="og:site_name" content="Ruby on Rails Guides" />
  <meta property="og:image" content="https://avatars.githubusercontent.com/u/4223" />
  <meta property="og:type" content="website" />

  <meta name="theme-color" content="#C81418">
</head>

<body dir="ltr" class="guide">
  <div>
    <div id="version-badge">edge</div>
  </div>
  <div id="topNav">
    <div class="wrapper">
      <strong class="more-info-label">More at <a href="https://rubyonrails.org/">rubyonrails.org:</a> </strong>
      <span class="red-button more-info-button">
        More Ruby on Rails
      </span>
      <ul class="more-info-links s-hidden">
        <li class="more-info"><a href="https://rubyonrails.org/blog">Blog</a></li>
        <li class="more-info"><a href="https://guides.rubyonrails.org/">Guides</a></li>
        <li class="more-info"><a href="https://api.rubyonrails.org/">API</a></li>
        <li class="more-info"><a href="https://discuss.rubyonrails.org/">Forum</a></li>
        <li class="more-info"><a href="https://github.com/rails/rails">Contribute on GitHub</a></li>
      </ul>
    </div>
  </div>
  <div id="header">
    <div class="wrapper clearfix">
      <div class="header-logo"><a href="index.html" title="Return to home page">Guides.rubyonrails.org</a></div>
      <ul class="nav">
        <li><a class="nav-item" href="index.html">Home</a></li>
        <li class="guides-index guides-index-large">
          <a href="index.html" id="guidesMenu" class="guides-index-item nav-item">Guides Index</a>
          <div id="guides" class="clearfix" style="display: none;">
            <hr />
            <dl class="guides-section-container">
                <div class="guides-section">
                  <dt>Start Here</dt>
                  <dd><a href="getting_started.html">Getting Started with Rails</a></dd>
                </div>
                <div class="guides-section">
                  <dt>Models</dt>
                  <dd><a href="active_record_basics.html">Active Record Basics</a></dd>
                  <dd><a href="active_record_migrations.html">Active Record Migrations</a></dd>
                  <dd><a href="active_record_validations.html">Active Record Validations</a></dd>
                  <dd><a href="active_record_callbacks.html">Active Record Callbacks</a></dd>
                  <dd><a href="association_basics.html">Active Record Associations</a></dd>
                  <dd><a href="active_record_querying.html">Active Record Query Interface</a></dd>
                </div>
                <div class="guides-section">
                  <dt>Views</dt>
                  <dd><a href="layouts_and_rendering.html">Layouts and Rendering in Rails</a></dd>
                  <dd><a href="form_helpers.html">Action View Form Helpers</a></dd>
                </div>
                <div class="guides-section">
                  <dt>Controllers</dt>
                  <dd><a href="action_controller_overview.html">Action Controller Overview</a></dd>
                  <dd><a href="routing.html">Rails Routing from the Outside In</a></dd>
                </div>
                <div class="guides-section">
                  <dt>Other Components</dt>
                  <dd><a href="active_support_core_extensions.html">Active Support Core Extensions</a></dd>
                  <dd><a href="action_mailer_basics.html">Action Mailer Basics</a></dd>
                  <dd><a href="active_job_basics.html">Active Job Basics</a></dd>
                  <dd><a href="active_storage_overview.html">Active Storage Overview</a></dd>
                  <dd><a href="action_cable_overview.html">Action Cable Overview</a></dd>
                </div>
                <div class="guides-section">
                  <dt>Digging Deeper</dt>
                  <dd><a href="i18n.html">Rails Internationalization (I18n) API</a></dd>
                  <dd><a href="testing.html">Testing Rails Applications</a></dd>
                  <dd><a href="security.html">Securing Rails Applications</a></dd>
                  <dd><a href="error_reporting.html">Error Reporting in Rails Applications</a></dd>
                  <dd><a href="debugging_rails_applications.html">Debugging Rails Applications</a></dd>
                  <dd><a href="configuring.html">Configuring Rails Applications</a></dd>
                  <dd><a href="command_line.html">The Rails Command Line</a></dd>
                  <dd><a href="asset_pipeline.html">The Asset Pipeline</a></dd>
                  <dd><a href="working_with_javascript_in_rails.html">Working with JavaScript in Rails</a></dd>
                  <dd><a href="autoloading_and_reloading_constants.html">Autoloading and Reloading</a></dd>
                  <dd><a href="classic_to_zeitwerk_howto.html">Migrating from Classic to Zeitwerk</a></dd>
                  <dd><a href="caching_with_rails.html">Caching with Rails: An Overview</a></dd>
                  <dd><a href="api_app.html">Using Rails for API-only Applications</a></dd>
                  <dd><a href="active_record_multiple_databases.html">Multiple Databases</a></dd>
                  <dd><a href="active_record_composite_primary_keys.html">Composite Primary Keys</a></dd>
                </div>
                <div class="guides-section">
                  <dt>Extending Rails</dt>
                  <dd><a href="rails_on_rack.html">Rails on Rack</a></dd>
                  <dd><a href="generators.html">Creating and Customizing Rails Generators &amp; Templates</a></dd>
                </div>
                <div class="guides-section">
                  <dt>Contributing</dt>
                  <dd><a href="contributing_to_ruby_on_rails.html">Contributing to Ruby on Rails</a></dd>
                  <dd><a href="api_documentation_guidelines.html">API Documentation Guidelines</a></dd>
                  <dd><a href="ruby_on_rails_guides_guidelines.html">Guides Guidelines</a></dd>
                  <dd><a href="development_dependencies_install.html">Installing Rails Core Development Dependencies</a></dd>
                </div>
                <div class="guides-section">
                  <dt>Policies</dt>
                  <dd><a href="maintenance_policy.html">Maintenance Policy</a></dd>
                </div>
                <div class="guides-section">
                  <dt>Release Notes</dt>
                  <dd><a href="upgrading_ruby_on_rails.html">Upgrading Ruby on Rails</a></dd>
                  <dd><a href="7_1_release_notes.html">Version 7.1 - October 2023</a></dd>
                  <dd><a href="7_0_release_notes.html">Version 7.0 - December 2021</a></dd>
                  <dd><a href="6_1_release_notes.html">Version 6.1 - December 2020</a></dd>
                  <dd><a href="6_0_release_notes.html">Version 6.0 - August 2019</a></dd>
                  <dd><a href="5_2_release_notes.html">Version 5.2 - April 2018</a></dd>
                  <dd><a href="5_1_release_notes.html">Version 5.1 - April 2017</a></dd>
                  <dd><a href="5_0_release_notes.html">Version 5.0 - June 2016</a></dd>
                  <dd><a href="4_2_release_notes.html">Version 4.2 - December 2014</a></dd>
                  <dd><a href="4_1_release_notes.html">Version 4.1 - April 2014</a></dd>
                  <dd><a href="4_0_release_notes.html">Version 4.0 - June 2013</a></dd>
                  <dd><a href="3_2_release_notes.html">Version 3.2 - January 2012</a></dd>
                  <dd><a href="3_1_release_notes.html">Version 3.1 - August 2011</a></dd>
                  <dd><a href="3_0_release_notes.html">Version 3.0 - August 2010</a></dd>
                  <dd><a href="2_3_release_notes.html">Version 2.3 - March 2009</a></dd>
                  <dd><a href="2_2_release_notes.html">Version 2.2 - November 2008</a></dd>
                </div>
            </dl>
          </div>
        </li>
        <li><a class="nav-item" href="contributing_to_ruby_on_rails.html">Contribute</a></li>
        <li class="guides-index guides-index-small">
          <select class="guides-index-item nav-item">
            <option value="index.html">Guides Index</option>
              <optgroup label="Start Here">
                  <option value="getting_started.html">Getting Started with Rails</option>
              </optgroup>
              <optgroup label="Models">
                  <option value="active_record_basics.html">Active Record Basics</option>
                  <option value="active_record_migrations.html">Active Record Migrations</option>
                  <option value="active_record_validations.html">Active Record Validations</option>
                  <option value="active_record_callbacks.html">Active Record Callbacks</option>
                  <option value="association_basics.html">Active Record Associations</option>
                  <option value="active_record_querying.html">Active Record Query Interface</option>
              </optgroup>
              <optgroup label="Views">
                  <option value="layouts_and_rendering.html">Layouts and Rendering in Rails</option>
                  <option value="form_helpers.html">Action View Form Helpers</option>
              </optgroup>
              <optgroup label="Controllers">
                  <option value="action_controller_overview.html">Action Controller Overview</option>
                  <option value="routing.html">Rails Routing from the Outside In</option>
              </optgroup>
              <optgroup label="Other Components">
                  <option value="active_support_core_extensions.html">Active Support Core Extensions</option>
                  <option value="action_mailer_basics.html">Action Mailer Basics</option>
                  <option value="active_job_basics.html">Active Job Basics</option>
                  <option value="active_storage_overview.html">Active Storage Overview</option>
                  <option value="action_cable_overview.html">Action Cable Overview</option>
              </optgroup>
              <optgroup label="Digging Deeper">
                  <option value="i18n.html">Rails Internationalization (I18n) API</option>
                  <option value="testing.html">Testing Rails Applications</option>
                  <option value="security.html">Securing Rails Applications</option>
                  <option value="error_reporting.html">Error Reporting in Rails Applications</option>
                  <option value="debugging_rails_applications.html">Debugging Rails Applications</option>
                  <option value="configuring.html">Configuring Rails Applications</option>
                  <option value="command_line.html">The Rails Command Line</option>
                  <option value="asset_pipeline.html">The Asset Pipeline</option>
                  <option value="working_with_javascript_in_rails.html">Working with JavaScript in Rails</option>
                  <option value="autoloading_and_reloading_constants.html">Autoloading and Reloading</option>
                  <option value="classic_to_zeitwerk_howto.html">Migrating from Classic to Zeitwerk</option>
                  <option value="caching_with_rails.html">Caching with Rails: An Overview</option>
                  <option value="api_app.html">Using Rails for API-only Applications</option>
                  <option value="active_record_multiple_databases.html">Multiple Databases</option>
                  <option value="active_record_composite_primary_keys.html">Composite Primary Keys</option>
              </optgroup>
              <optgroup label="Extending Rails">
                  <option value="rails_on_rack.html">Rails on Rack</option>
                  <option value="generators.html">Creating and Customizing Rails Generators &amp; Templates</option>
              </optgroup>
              <optgroup label="Contributing">
                  <option value="contributing_to_ruby_on_rails.html">Contributing to Ruby on Rails</option>
                  <option value="api_documentation_guidelines.html">API Documentation Guidelines</option>
                  <option value="ruby_on_rails_guides_guidelines.html">Guides Guidelines</option>
                  <option value="development_dependencies_install.html">Installing Rails Core Development Dependencies</option>
              </optgroup>
              <optgroup label="Policies">
                  <option value="maintenance_policy.html">Maintenance Policy</option>
              </optgroup>
              <optgroup label="Release Notes">
                  <option value="upgrading_ruby_on_rails.html">Upgrading Ruby on Rails</option>
                  <option value="7_1_release_notes.html">Version 7.1 - October 2023</option>
                  <option value="7_0_release_notes.html">Version 7.0 - December 2021</option>
                  <option value="6_1_release_notes.html">Version 6.1 - December 2020</option>
                  <option value="6_0_release_notes.html">Version 6.0 - August 2019</option>
                  <option value="5_2_release_notes.html">Version 5.2 - April 2018</option>
                  <option value="5_1_release_notes.html">Version 5.1 - April 2017</option>
                  <option value="5_0_release_notes.html">Version 5.0 - June 2016</option>
                  <option value="4_2_release_notes.html">Version 4.2 - December 2014</option>
                  <option value="4_1_release_notes.html">Version 4.1 - April 2014</option>
                  <option value="4_0_release_notes.html">Version 4.0 - June 2013</option>
                  <option value="3_2_release_notes.html">Version 3.2 - January 2012</option>
                  <option value="3_1_release_notes.html">Version 3.1 - August 2011</option>
                  <option value="3_0_release_notes.html">Version 3.0 - August 2010</option>
                  <option value="2_3_release_notes.html">Version 2.3 - March 2009</option>
                  <option value="2_2_release_notes.html">Version 2.2 - November 2008</option>
              </optgroup>
          </select>
        </li>
      </ul>
    </div>
  </div>
  <hr class="hide" />

  <div id="feature">
    <div class="wrapper">
      <h1>Working with JavaScript in Rails</h1><p>This guide covers the options for integrating JavaScript functionality into your Rails application,
including the options you have for using external JavaScript packages and how to use Turbo with
Rails.</p><p>After reading this guide, you will know:</p>
<ul>
<li>How to use Rails without the need for a Node.js, Yarn, or a JavaScript bundler.</li>
<li>How to create a new Rails application using import maps, bun, esbuild, rollup, or webpack to bundle
your JavaScript.</li>
<li>What Turbo is, and how to use it.</li>
<li>How to use the Turbo HTML helpers provided by Rails.</li>
</ul>


                <div id="subCol">
            <h3 class="chapter"><img src="images/icon_book-close-bookmark-1.svg" alt="" />Chapters</h3>
            <ol class="chapters">
<li><a href="#import-maps">Import Maps</a>

<ul>
<li><a href="#installing-importmap-rails">Installing importmap-rails</a></li>
<li><a href="#adding-npm-packages-with-importmap-rails">Adding npm Packages with importmap-rails</a></li>
</ul></li>
<li><a href="#adding-npm-packages-with-javascript-bundlers">Adding npm Packages with JavaScript Bundlers</a>

<ul>
<li><a href="#installing-a-javascript-runtime">Installing a JavaScript Runtime</a></li>
</ul></li>
<li><a href="#choosing-between-import-maps-and-a-javascript-bundler">Choosing Between Import Maps and a JavaScript Bundler</a></li>
<li><a href="#turbo">Turbo</a>

<ul>
<li><a href="#turbo-drive">Turbo Drive</a></li>
<li><a href="#turbo-frames">Turbo Frames</a></li>
<li><a href="#turbo-streams">Turbo Streams</a></li>
</ul></li>
<li><a href="#replacements-for-rails-ujs-functionality">Replacements for Rails/UJS Functionality</a>

<ul>
<li><a href="#method">Method</a></li>
<li><a href="#confirmations">Confirmations</a></li>
<li><a href="#ajax-requests">Ajax Requests</a></li>
</ul></li>
</ol>

          </div>

    </div>
  </div>

  <div id="container">
    <div class="wrapper">
      <div id="mainCol">
        <h2 id="import-maps"><a class="anchorlink" href="#import-maps">1 Import Maps</a></h2><p><a href="https://github.com/rails/importmap-rails">Import maps</a> let you import JavaScript modules using
logical names that map to versioned files directly from the browser. Import maps are the default
from Rails 7, allowing anyone to build modern JavaScript applications using most npm packages
without the need for transpiling or bundling.</p><p>Applications using import maps do not need <a href="https://nodejs.org/en/">Node.js</a> or
<a href="https://yarnpkg.com/">Yarn</a> to function. If you plan to use Rails with <code>importmap-rails</code> to
manage your JavaScript dependencies, there is no need to install Node.js or Yarn.</p><p>When using import maps, no separate build process is required, just start your server with
<code>bin/rails server</code> and you are good to go.</p><h3 id="installing-importmap-rails"><a class="anchorlink" href="#installing-importmap-rails">1.1 Installing importmap-rails</a></h3><p>Importmap for Rails is automatically included in Rails 7+ for new applications, but you can also install it manually in existing applications:</p><div class="code_container">
<pre><code class="highlight console"><span class="gp">$</span><span class="w"> </span>bin/bundle add importmap-rails
</code></pre>
<button class="clipboard-button" data-clipboard-text="bin/bundle add importmap-rails
">Copy</button>
</div>
<p>Run the install task:</p><div class="code_container">
<pre><code class="highlight console"><span class="gp">$</span><span class="w"> </span><span class="nb">bin/rails </span>importmap:install
</code></pre>
<button class="clipboard-button" data-clipboard-text="bin/rails importmap:install
">Copy</button>
</div>
<h3 id="adding-npm-packages-with-importmap-rails"><a class="anchorlink" href="#adding-npm-packages-with-importmap-rails">1.2 Adding npm Packages with importmap-rails</a></h3><p>To add new packages to your import map-powered application, run the <code>bin/importmap pin</code> command
from your terminal:</p><div class="code_container">
<pre><code class="highlight console"><span class="gp">$</span><span class="w"> </span>bin/importmap pin react react-dom
</code></pre>
<button class="clipboard-button" data-clipboard-text="bin/importmap pin react react-dom
">Copy</button>
</div>
<p>Then, import the package into <code>application.js</code> as usual:</p><div class="code_container">
<pre><code class="highlight javascript"><span class="k">import</span> <span class="nx">React</span> <span class="k">from</span> <span class="dl">"</span><span class="s2">react</span><span class="dl">"</span>
<span class="k">import</span> <span class="nx">ReactDOM</span> <span class="k">from</span> <span class="dl">"</span><span class="s2">react-dom</span><span class="dl">"</span>
</code></pre>
<button class="clipboard-button" data-clipboard-text="import React from &quot;react&quot;
import ReactDOM from &quot;react-dom&quot;
">Copy</button>
</div>
<h2 id="adding-npm-packages-with-javascript-bundlers"><a class="anchorlink" href="#adding-npm-packages-with-javascript-bundlers">2 Adding npm Packages with JavaScript Bundlers</a></h2><p>Import maps are the default for new Rails applications, but if you prefer traditional JavaScript
bundling, you can create new Rails applications with your choice of
<a href="https://bun.sh">Bun</a>, <a href="https://esbuild.github.io/">esbuild</a>,
<a href="https://webpack.js.org/">webpack</a>, or <a href="https://rollupjs.org/guide/en/">rollup.js</a>.</p><p>To use a bundler instead of import maps in a new Rails application, pass the <code>—javascript</code> or <code>-j</code>
option to <code>rails new</code>:</p><div class="code_container">
<pre><code class="highlight console"><span class="gp">$</span><span class="w"> </span><span class="nb">rails </span>new my_new_app <span class="nt">--javascript</span><span class="o">=</span>bun
<span class="go">OR
</span><span class="gp">$</span><span class="w"> </span><span class="nb">rails </span>new my_new_app <span class="nt">-j</span> bun
</code></pre>
<button class="clipboard-button" data-clipboard-text="rails new my_new_app --javascript=bun
rails new my_new_app -j bun
">Copy</button>
</div>
<p>These bundling options each come with a simple configuration and integration with the asset
pipeline via the <a href="https://github.com/rails/jsbundling-rails">jsbundling-rails</a> gem.</p><p>When using a bundling option, use <code>bin/dev</code> to start the Rails server and build JavaScript for
development.</p><h3 id="installing-a-javascript-runtime"><a class="anchorlink" href="#installing-a-javascript-runtime">2.1 Installing a JavaScript Runtime</a></h3><p>If you are using a esbuild, rollup.js or Webpack, to bundle your JavaScript in
your Rails application, Node.js and Yarn must be installed. If you are using
Bun, then you just need to install Bun as it is both a JavaScript runtime and a bundler.</p><h4 id="installing-bun"><a class="anchorlink" href="#installing-bun">2.1.1 Installing Bun</a></h4><p>Find the installation instructions at the <a href="https://bun.sh">Bun website</a> and
verify it’s installed correctly and in your path with the following command:</p><div class="code_container">
<pre><code class="highlight console"><span class="gp">$</span><span class="w"> </span>bun <span class="nt">--version</span>
</code></pre>
<button class="clipboard-button" data-clipboard-text="bun --version
">Copy</button>
</div>
<p>The version of your Bun runtime should be printed out. If it says something
like <code>1.0.0</code>, Bun has been installed correctly.</p><p>If not, you may need to reinstall bun in the current directory or restart your terminal.</p><h4 id="installing-node-js-and-yarn"><a class="anchorlink" href="#installing-node-js-and-yarn">2.1.2 Installing Node.js and Yarn</a></h4><p>If you are using esbuild, rollup.js or Webpack you will need Node.js and Yarn.</p><p>Find the installation instructions at the <a href="https://nodejs.org/en/download/">Node.js website</a> and
verify it’s installed correctly with the following command:</p><div class="code_container">
<pre><code class="highlight console"><span class="gp">$</span><span class="w"> </span><span class="nb">node</span> <span class="nt">--version</span>
</code></pre>
<button class="clipboard-button" data-clipboard-text="node --version
">Copy</button>
</div>
<p>The version of your Node.js runtime should be printed out. Make sure it’s greater than <code>8.16.0</code>.</p><p>To install Yarn, follow the installation instructions at the
<a href="https://classic.yarnpkg.com/en/docs/install">Yarn website</a>. Running this command should print out
the Yarn version:</p><div class="code_container">
<pre><code class="highlight console"><span class="gp">$</span><span class="w"> </span><span class="nb">yarn</span> <span class="nt">--version</span>
</code></pre>
<button class="clipboard-button" data-clipboard-text="yarn --version
">Copy</button>
</div>
<p>If it says something like <code>1.22.0</code>, Yarn has been installed correctly.</p><h2 id="choosing-between-import-maps-and-a-javascript-bundler"><a class="anchorlink" href="#choosing-between-import-maps-and-a-javascript-bundler">3 Choosing Between Import Maps and a JavaScript Bundler</a></h2><p>When you create a new Rails application, you will need to choose between import maps and a
JavaScript bundling solution. Every application has different requirements, and you should
consider your requirements carefully before choosing a JavaScript option, as migrating from one
option to another may be time-consuming for large, complex applications.</p><p>Import maps are the default option because the Rails team believes in import maps' potential for
reducing complexity, improving developer experience, and delivering performance gains.</p><p>For many applications, especially those that rely primarily on the <a href="https://hotwired.dev/">Hotwire</a>
stack for their JavaScript needs, import maps will be the right option for the long term. You
can read more about the reasoning behind making import maps the default in Rails 7
<a href="https://world.hey.com/dhh/rails-7-will-have-three-great-answers-to-javascript-in-2021-8d68191b">here</a>.</p><p>Other applications may still need a traditional JavaScript bundler. Requirements that indicate
that you should choose a traditional bundler include:</p>
<ul>
<li>If your code requires a transpilation step, such as JSX or TypeScript.</li>
<li>If you need to use JavaScript libraries that include CSS or otherwise rely on
<a href="https://webpack.js.org/loaders/">Webpack loaders</a>.</li>
<li>If you are absolutely sure that you need
<a href="https://webpack.js.org/guides/tree-shaking/">tree-shaking</a>.</li>
<li>If you will install Bootstrap, Bulma, PostCSS, or Dart CSS through the <a href="https://github.com/rails/cssbundling-rails">cssbundling-rails gem</a>. All options provided by this gem except Tailwind and Sass will automatically install <code>esbuild</code> for you if you do not specify a different option in <code>rails new</code>.</li>
</ul>
<h2 id="turbo"><a class="anchorlink" href="#turbo">4 Turbo</a></h2><p>Whether you choose import maps or a traditional bundler, Rails ships with
<a href="https://turbo.hotwired.dev/">Turbo</a> to speed up your application while dramatically reducing the
amount of JavaScript that you will need to write.</p><p>Turbo lets your server deliver HTML directly as an alternative to the prevailing front-end
frameworks that reduce the server-side of your Rails application to little more than a JSON API.</p><h3 id="turbo-drive"><a class="anchorlink" href="#turbo-drive">4.1 Turbo Drive</a></h3><p><a href="https://turbo.hotwired.dev/handbook/drive">Turbo Drive</a> speeds up page loads by avoiding full-page
teardowns and rebuilds on every navigation request. Turbo Drive is an improvement on and
replacement for Turbolinks.</p><h3 id="turbo-frames"><a class="anchorlink" href="#turbo-frames">4.2 Turbo Frames</a></h3><p><a href="https://turbo.hotwired.dev/handbook/frames">Turbo Frames</a> allow predefined parts of a page to be
updated on request, without impacting the rest of the page’s content.</p><p>You can use Turbo Frames to build in-place editing without any custom JavaScript, lazy load
content, and create server-rendered, tabbed interfaces with ease.</p><p>Rails provides HTML helpers to simplify the use of Turbo Frames through the
<a href="https://github.com/hotwired/turbo-rails">turbo-rails</a> gem.</p><p>Using this gem, you can add a Turbo Frame to your application with the <code>turbo_frame_tag</code> helper
like this:</p><div class="code_container">
<pre><code class="highlight erb"><span class="cp">&lt;%=</span> <span class="n">turbo_frame_tag</span> <span class="n">dom_id</span><span class="p">(</span><span class="n">post</span><span class="p">)</span> <span class="k">do</span> <span class="cp">%&gt;</span>
  <span class="nt">&lt;div&gt;</span>
     <span class="cp">&lt;%=</span> <span class="n">link_to</span> <span class="n">post</span><span class="p">.</span><span class="nf">title</span><span class="p">,</span> <span class="n">post_path</span><span class="p">(</span><span class="n">post</span><span class="p">)</span> <span class="cp">%&gt;</span>
  <span class="nt">&lt;/div&gt;</span>
<span class="cp">&lt;%</span> <span class="k">end</span> <span class="cp">%&gt;</span>
</code></pre>
<button class="clipboard-button" data-clipboard-text="<%= turbo_frame_tag dom_id(post) do %>
  <div>
     <%= link_to post.title, post_path(post) %>
  </div>
<% end %>
">Copy</button>
</div>
<h3 id="turbo-streams"><a class="anchorlink" href="#turbo-streams">4.3 Turbo Streams</a></h3><p><a href="https://turbo.hotwired.dev/handbook/streams">Turbo Streams</a> deliver page changes as fragments of
HTML wrapped in self-executing <code>&lt;turbo-stream&gt;</code> elements. Turbo Streams allow you to broadcast
changes made by other users over WebSockets and update pieces of a page after a form submission
without requiring a full page load.</p><p>Rails provides HTML and server-side helpers to simplify the use of Turbo Streams through the
<a href="https://github.com/hotwired/turbo-rails">turbo-rails</a> gem.</p><p>Using this gem, you can render Turbo Streams from a controller action:</p><div class="code_container">
<pre><code class="highlight ruby"><span class="k">def</span> <span class="nf">create</span>
  <span class="vi">@post</span> <span class="o">=</span> <span class="no">Post</span><span class="p">.</span><span class="nf">new</span><span class="p">(</span><span class="n">post_params</span><span class="p">)</span>

  <span class="n">respond_to</span> <span class="k">do</span> <span class="o">|</span><span class="nb">format</span><span class="o">|</span>
    <span class="k">if</span> <span class="vi">@post</span><span class="p">.</span><span class="nf">save</span>
      <span class="nb">format</span><span class="p">.</span><span class="nf">turbo_stream</span>
    <span class="k">else</span>
      <span class="nb">format</span><span class="p">.</span><span class="nf">html</span> <span class="p">{</span> <span class="n">render</span> <span class="ss">:new</span><span class="p">,</span> <span class="ss">status: :unprocessable_entity</span> <span class="p">}</span>
    <span class="k">end</span>
  <span class="k">end</span>
<span class="k">end</span>
</code></pre>
<button class="clipboard-button" data-clipboard-text="def create
  @post = Post.new(post_params)

  respond_to do |format|
    if @post.save
      format.turbo_stream
    else
      format.html { render :new, status: :unprocessable_entity }
    end
  end
end
">Copy</button>
</div>
<p>Rails will automatically look for a <code>.turbo_stream.erb</code> view file and render that view when found.</p><p>Turbo Stream responses can also be rendered inline in the controller action:</p><div class="code_container">
<pre><code class="highlight ruby"><span class="k">def</span> <span class="nf">create</span>
  <span class="vi">@post</span> <span class="o">=</span> <span class="no">Post</span><span class="p">.</span><span class="nf">new</span><span class="p">(</span><span class="n">post_params</span><span class="p">)</span>

  <span class="n">respond_to</span> <span class="k">do</span> <span class="o">|</span><span class="nb">format</span><span class="o">|</span>
    <span class="k">if</span> <span class="vi">@post</span><span class="p">.</span><span class="nf">save</span>
      <span class="nb">format</span><span class="p">.</span><span class="nf">turbo_stream</span> <span class="p">{</span> <span class="n">render</span> <span class="ss">turbo_stream: </span><span class="n">turbo_stream</span><span class="p">.</span><span class="nf">prepend</span><span class="p">(</span><span class="s1">'posts'</span><span class="p">,</span> <span class="ss">partial: </span><span class="s1">'post'</span><span class="p">)</span> <span class="p">}</span>
    <span class="k">else</span>
      <span class="nb">format</span><span class="p">.</span><span class="nf">html</span> <span class="p">{</span> <span class="n">render</span> <span class="ss">:new</span><span class="p">,</span> <span class="ss">status: :unprocessable_entity</span> <span class="p">}</span>
    <span class="k">end</span>
  <span class="k">end</span>
<span class="k">end</span>
</code></pre>
<button class="clipboard-button" data-clipboard-text="def create
  @post = Post.new(post_params)

  respond_to do |format|
    if @post.save
      format.turbo_stream { render turbo_stream: turbo_stream.prepend('posts', partial: 'post') }
    else
      format.html { render :new, status: :unprocessable_entity }
    end
  end
end
">Copy</button>
</div>
<p>Finally, Turbo Streams can be initiated from a model or a background job using built-in helpers.
These broadcasts can be used to update content via a WebSocket connection to all users, keeping
page content fresh and bringing your application to life.</p><p>To broadcast a Turbo Stream from a model combine a model callback like this:</p><div class="code_container">
<pre><code class="highlight ruby"><span class="k">class</span> <span class="nc">Post</span> <span class="o">&lt;</span> <span class="no">ApplicationRecord</span>
  <span class="n">after_create_commit</span> <span class="p">{</span> <span class="n">broadcast_append_to</span><span class="p">(</span><span class="s1">'posts'</span><span class="p">)</span> <span class="p">}</span>
<span class="k">end</span>
</code></pre>
<button class="clipboard-button" data-clipboard-text="class Post < ApplicationRecord
  after_create_commit { broadcast_append_to('posts') }
end
">Copy</button>
</div>
<p>With a WebSocket connection set up on the page that should receive the updates like this:</p><div class="code_container">
<pre><code class="highlight erb"><span class="cp">&lt;%=</span> <span class="n">turbo_stream_from</span> <span class="s2">"posts"</span> <span class="cp">%&gt;</span>
</code></pre>
<button class="clipboard-button" data-clipboard-text="<%= turbo_stream_from &quot;posts&quot; %>
">Copy</button>
</div>
<h2 id="replacements-for-rails-ujs-functionality"><a class="anchorlink" href="#replacements-for-rails-ujs-functionality">5 Replacements for Rails/UJS Functionality</a></h2><p>Rails 6 shipped with a tool called UJS (Unobtrusive JavaScript). UJS allows
developers to override the HTTP request method of <code>&lt;a&gt;</code> tags, to add confirmation
dialogs before executing an action, and more. UJS was the default before Rails
7, but it is now recommended to use Turbo instead.</p><h3 id="method"><a class="anchorlink" href="#method">5.1 Method</a></h3><p>Clicking links always results in an HTTP GET request. If your application is
<a href="https://en.wikipedia.org/wiki/Representational_State_Transfer">RESTful</a>, some links are in fact
actions that change data on the server, and should be performed with non-GET
requests. The <code>data-turbo-method</code> attribute allows marking up such links with
an explicit method such as "post", "put", or "delete".</p><p>Turbo will scan <code>&lt;a&gt;</code> tags in your application for the <code>turbo-method</code> data attribute and use the
specified method when present, overriding the default GET action.</p><p>For example:</p><div class="code_container">
<pre><code class="highlight erb"><span class="cp">&lt;%=</span> <span class="n">link_to</span> <span class="s2">"Delete post"</span><span class="p">,</span> <span class="n">post_path</span><span class="p">(</span><span class="n">post</span><span class="p">),</span> <span class="ss">data: </span><span class="p">{</span> <span class="ss">turbo_method: </span><span class="s2">"delete"</span> <span class="p">}</span> <span class="cp">%&gt;</span>
</code></pre>
<button class="clipboard-button" data-clipboard-text="<%= link_to &quot;Delete post&quot;, post_path(post), data: { turbo_method: &quot;delete&quot; } %>
">Copy</button>
</div>
<p>This generates:</p><div class="code_container">
<pre><code class="highlight html"><span class="nt">&lt;a</span> <span class="na">data-turbo-method=</span><span class="s">"delete"</span> <span class="na">href=</span><span class="s">"..."</span><span class="nt">&gt;</span>Delete post<span class="nt">&lt;/a&gt;</span>
</code></pre>
<button class="clipboard-button" data-clipboard-text="<a data-turbo-method=&quot;delete&quot; href=&quot;...&quot;>Delete post</a>
">Copy</button>
</div>
<p>An alternative to changing the method of a link with <code>data-turbo-method</code> is to use Rails
<code>button_to</code> helper. For accessibility reasons, actual buttons and forms are preferable for any
non-GET action.</p><h3 id="confirmations"><a class="anchorlink" href="#confirmations">5.2 Confirmations</a></h3><p>You can ask for an extra confirmation from the user by adding a <code>data-turbo-confirm</code>
attribute on links and forms. On link click or form submit, the user will be
presented with a JavaScript <code>confirm()</code> dialog containing the attribute's text.
If the user chooses to cancel, the action doesn't take place.</p><p>For example, with the <code>link_to</code> helper:</p><div class="code_container">
<pre><code class="highlight erb"><span class="cp">&lt;%=</span> <span class="n">link_to</span> <span class="s2">"Delete post"</span><span class="p">,</span> <span class="n">post_path</span><span class="p">(</span><span class="n">post</span><span class="p">),</span> <span class="ss">data: </span><span class="p">{</span> <span class="ss">turbo_method: </span><span class="s2">"delete"</span><span class="p">,</span> <span class="ss">turbo_confirm: </span><span class="s2">"Are you sure?"</span> <span class="p">}</span> <span class="cp">%&gt;</span>
</code></pre>
<button class="clipboard-button" data-clipboard-text="<%= link_to &quot;Delete post&quot;, post_path(post), data: { turbo_method: &quot;delete&quot;, turbo_confirm: &quot;Are you sure?&quot; } %>
">Copy</button>
</div>
<p>Which generates:</p><div class="code_container">
<pre><code class="highlight html"><span class="nt">&lt;a</span> <span class="na">href=</span><span class="s">"..."</span> <span class="na">data-turbo-confirm=</span><span class="s">"Are you sure?"</span> <span class="na">data-turbo-method=</span><span class="s">"delete"</span><span class="nt">&gt;</span>Delete post<span class="nt">&lt;/a&gt;</span>
</code></pre>
<button class="clipboard-button" data-clipboard-text="<a href=&quot;...&quot; data-turbo-confirm=&quot;Are you sure?&quot; data-turbo-method=&quot;delete&quot;>Delete post</a>
">Copy</button>
</div>
<p>When the user clicks on the "Delete post" link, they will be presented with an
"Are you sure?" confirmation dialog.</p><p>The attribute can also be used with the <code>button_to</code> helper, however it must be
added to the form that the <code>button_to</code> helper renders internally:</p><div class="code_container">
<pre><code class="highlight erb"><span class="cp">&lt;%=</span> <span class="n">button_to</span> <span class="s2">"Delete post"</span><span class="p">,</span> <span class="n">post</span><span class="p">,</span> <span class="ss">method: :delete</span><span class="p">,</span> <span class="ss">form: </span><span class="p">{</span> <span class="ss">data: </span><span class="p">{</span> <span class="ss">turbo_confirm: </span><span class="s2">"Are you sure?"</span> <span class="p">}</span> <span class="p">}</span> <span class="cp">%&gt;</span>
</code></pre>
<button class="clipboard-button" data-clipboard-text="<%= button_to &quot;Delete post&quot;, post, method: :delete, form: { data: { turbo_confirm: &quot;Are you sure?&quot; } } %>
">Copy</button>
</div>
<h3 id="ajax-requests"><a class="anchorlink" href="#ajax-requests">5.3 Ajax Requests</a></h3><p>When making non-GET requests from JavaScript the <code>X-CSRF-Token</code> header is required.
Without this header requests won't be accepted by Rails.</p><div class="note"><p>This token is required by Rails to prevent Cross-Site Request Forgery (CSRF) attacks. Read more in the <a href="security.html#cross-site-request-forgery-csrf">security guide</a>.</p></div><p><a href="https://github.com/rails/request.js">Rails Request.JS</a> encapsulates the logic
of adding the request headers that are required by Rails. Just
import the <code>FetchRequest</code> class from the package and instantiate it
passing the request method, url, options, then call <code>await request.perform()</code>
and do what do you need with the response.</p><p>For example:</p><div class="code_container">
<pre><code class="highlight javascript"><span class="k">import</span> <span class="p">{</span> <span class="nx">FetchRequest</span> <span class="p">}</span> <span class="k">from</span> <span class="dl">'</span><span class="s1">@rails/request.js</span><span class="dl">'</span>

<span class="p">....</span>

<span class="k">async</span> <span class="nf">myMethod </span><span class="p">()</span> <span class="p">{</span>
  <span class="kd">const</span> <span class="nx">request</span> <span class="o">=</span> <span class="k">new</span> <span class="nc">FetchRequest</span><span class="p">(</span><span class="dl">'</span><span class="s1">post</span><span class="dl">'</span><span class="p">,</span> <span class="dl">'</span><span class="s1">localhost:3000/posts</span><span class="dl">'</span><span class="p">,</span> <span class="p">{</span>
    <span class="na">body</span><span class="p">:</span> <span class="nx">JSON</span><span class="p">.</span><span class="nf">stringify</span><span class="p">({</span> <span class="na">name</span><span class="p">:</span> <span class="dl">'</span><span class="s1">Request.JS</span><span class="dl">'</span> <span class="p">})</span>
  <span class="p">})</span>
  <span class="kd">const</span> <span class="nx">response</span> <span class="o">=</span> <span class="k">await</span> <span class="nx">request</span><span class="p">.</span><span class="nf">perform</span><span class="p">()</span>
  <span class="k">if </span><span class="p">(</span><span class="nx">response</span><span class="p">.</span><span class="nx">ok</span><span class="p">)</span> <span class="p">{</span>
    <span class="kd">const</span> <span class="nx">body</span> <span class="o">=</span> <span class="k">await</span> <span class="nx">response</span><span class="p">.</span><span class="nx">text</span>
  <span class="p">}</span>
<span class="p">}</span>
</code></pre>
<button class="clipboard-button" data-clipboard-text="import { FetchRequest } from '@rails/request.js'

....

async myMethod () {
  const request = new FetchRequest('post', 'localhost:3000/posts', {
    body: JSON.stringify({ name: 'Request.JS' })
  })
  const response = await request.perform()
  if (response.ok) {
    const body = await response.text
  }
}
">Copy</button>
</div>
<p>When using another library to make Ajax calls, it is necessary to add the
security token as a default header yourself. To get the token, have a look at
<code>&lt;meta name='csrf-token' content='THE-TOKEN'&gt;</code> tag printed by
<a href="https://edgeapi.rubyonrails.org/classes/ActionView/Helpers/CsrfHelper.html#method-i-csrf_meta_tags"><code>csrf_meta_tags</code></a> in your application view. You could do something like:</p><div class="code_container">
<pre><code class="highlight javascript"><span class="nb">document</span><span class="p">.</span><span class="nx">head</span><span class="p">.</span><span class="nf">querySelector</span><span class="p">(</span><span class="dl">"</span><span class="s2">meta[name=csrf-token]</span><span class="dl">"</span><span class="p">)?.</span><span class="nx">content</span>
</code></pre>
<button class="clipboard-button" data-clipboard-text="document.head.querySelector(&quot;meta[name=csrf-token]&quot;)?.content
">Copy</button>
</div>


        <h3>Feedback</h3>
        <p>
          You're encouraged to help improve the quality of this guide.
        </p>
        <p>
          Please contribute if you see any typos or factual errors.
          To get started, you can read our <a href="https://edgeguides.rubyonrails.org/contributing_to_ruby_on_rails.html#contributing-to-the-rails-documentation">documentation contributions</a> section.
        </p>
        <p>
          You may also find incomplete content or stuff that is not up to date.
          Please do add any missing documentation for main. Make sure to check
          <a href="https://edgeguides.rubyonrails.org">Edge Guides</a> first to verify
          if the issues are already fixed or not on the main branch.
          Check the <a href="ruby_on_rails_guides_guidelines.html">Ruby on Rails Guides Guidelines</a>
          for style and conventions.
        </p>
        <p>
          If for whatever reason you spot something to fix but cannot patch it yourself, please
          <a href="https://github.com/rails/rails/issues">open an issue</a>.
        </p>
        <p>And last but not least, any kind of discussion regarding Ruby on Rails
          documentation is very welcome on the <a href="https://discuss.rubyonrails.org/c/rubyonrails-docs">official Ruby on Rails Forum</a>.
        </p>
      </div>
    </div>
  </div>

  <hr class="hide" />
  <div id="footer">
    <div class="wrapper">
      <p>This work is licensed under a <a href="https://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International</a> License</p>
<p>"Rails", "Ruby on Rails", and the Rails logo are trademarks of David Heinemeier Hansson. All rights reserved.</p>

    </div>
  </div>
</body>
</html>
