<% content_for :title, "My Title" %>
<% cache do %>
  <% content_for :title, ": Enhanced!" %>
  <% content_for :footer do %><p>P.S. This footer is cached.</p><% end %>
  This fragment is cached
<% end %>
<title><%= content_for :title %></title>
<footer><%= content_for :footer %></footer>
