<div style="margin: 10%">
  <h1>ActiveRecord Debugging</h1>
  <hr />
  <% ActiveRecord::Debugger.loaded_records.each do |record| %>
    <% if record._load_tree_node.root? %>
      <div>
        <%= render partial: 'active_record_debugger/record', locals: { record: record } %>
      </div>
    <hr />
    <% end %>
  <% end %>
</div>