<html>
<head>
  <title>Scaffolding: <%%= controller.controller_name %>#<%%= controller.action_name %></title>
  <link href="/stylesheets/scaffold.css" rel="stylesheet" type="text/css" />
</head>
<body>

<%%= @content_for_layout %>

</body>
</html>
