<h1>New <%= @singular_name %></h1>

<%%= error_messages_for '<%= singular_name %>' %>
<%%= form '<%= singular_name %>', :action => 'create<%= suffix %>' %>

<%%= link_to 'Back', :action => 'list<%= suffix %>' %>
