code[class*="language-"],
pre[class*="language-"] {
  white-space: pre-wrap;
  text-shadow: none;
  color: #222;
  background: none;
}

pre[class*="language-"] {
  padding: 0;
}

.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string {
  background: none;
}

.token.regex, .token.important, .token.variable {
  color: #a04a2f;
}

.token.output {
  color: slategray;
}
