<!DOCTYPE html>
<html>
<head>
  <title><%= camelized %></title>
  <%%= stylesheet_link_tag    "<%= name %>/application", :media => "all" %>
  <%%= csrf_meta_tags %>
</head>
<body>

<%%= yield %>

  <%%= javascript_include_tag "<%= name %>/application" %>
<%%= yield(:scripts)%>
</body>
</html>
