<html>
<body>
<h1>Topics</h1>

<%= link_to "New topic", :action => "new_topic" %>

<ul>
<% for topic in @topics %>
  <li><%= link_to "#{topic.title} (#{topic.replies.length} replies)", :action => "topic", :path_params => { "id" => topic.id } %></li>
<% end %>
</ul>

</body>
</html>