<% module_namespacing do -%>
class <%= abstract_class_name %> < ApplicationRecord
  self.abstract_class = true

  connects_to database: { <%= ActiveRecord::Base.writing_role %>: :<%= database -%> }
end
<% end -%>
