# Preview all emails at http://localhost:3000/rails/mailers/magic_link_mailer
class MagicLinkMailerPreview < ActionMailer::Preview
  # Preview this email at http://localhost:3000/rails/mailers/magic_link_mailer/sign_in
  def sign_in
    magic_link = User.take.magic_links.build
    MagicLinkMailer.sign_in(magic_link)
  end
end
