<% provide :title, @inbound_email.message_id %>

<h1><%= @inbound_email.message_id %>: <%= @inbound_email.status %></h1>

<ul>
  <li>Retry</li>
  <li>Incinerate</li>
</ul>

<details>
  <summary>Full email source</summary>
  <pre><%= @inbound_email.source %></pre>
</details>
