/test/dummy/storage/*.sqlite3
/test/dummy/storage/*.sqlite3-*
/test/dummy/db/*.sqlite3
/test/dummy/db/*.sqlite3-*
/test/dummy/log/*.log
/test/dummy/tmp/
/tmp/
/test/support/storage/
/test/support/log/*.log
/test/support/tmp/
