label, input {
	display:          block;
	float:            left;
 	margin-bottom:    10px;
}

label {
  text-align:       right;
  width:            80px;
  padding-right:    5px;
  font-weight:      bold;
}


table {
  border: 0;
}

form>h1{

  padding-bottom: 2px;
  border-bottom: 1px solid gray;
  margin-bottom: 30px;

}

td {
 vertical-align: top; 
}

#livepreview {
  padding: 5px;
  border: 1px solid #ccc;

}