<!DOCTYPE html>
<html>
<head>
  <title><%= controller_class_name %>: <%%= controller.action_name %></title>
  <%%= stylesheet_link_tag 'scaffold' %>
  <%%= javascript_include_tag :defaults %>
  <%%= csrf_meta_tag %>
</head>
<body>

<p class="notice"><%%= notice %></p>
<p class="alert"><%%= alert %></p>

<%%= yield %>

</body>
</html>
