<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <title><%= controller_class_name %>: <%%= controller.action_name %></title>
  <%%= stylesheet_link_tag 'scaffold' %>
</head>
<body>

<p style="color: green"><%%= flash[:notice] %></p>

<%%= yield %>

</body>
</html>
