<p>Esta obra está licenciada sob uma lincença <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-Share Alike 3.0</a> License</p>
<p>"Rails", "Ruby on Rails", e a logo do Rails são marcas registradas de David Heinemeier Hansson. Todos os direitos reservados.</p>
