# aws:
#   access_key_id: 123
#   secret_access_key: 345
<% unless options.skip_secret_key_base? -%>

# Used as the base secret for all MessageVerifiers in Rails, including the one protecting cookies.
secret_key_base: <%= secret_key_base %>
<% end -%>
