// ----------------------------------------------------------------------------
// Containers
//
// These are interstitial elements used throughout the guides, providint help,
// context, more info, or warnings to readers. 
// ----------------------------------------------------------------------------

/* Same bottom margin for special boxes than for regular paragraphs, this way
intermediate whitespace looks uniform. */

div.interstitial {
  background-repeat: no-repeat;
  background-size: 36px 36px;
  border-radius: $base-border-radius;
  border-width: 2px;
  margin-bottom: 1.5em;

  /* Remove bottom margin of paragraphs in special boxes, otherwise they get a
  spurious blank area below with the box background. */
  p {
    margin-bottom: 0.75em;
  }

  &.code {
    border: none;
    background-color: $gray-900;
    background-image: url("../images/icon_file-code.svg");
  }

  &.note {
    border-color: $note;
    background-color: $note-bkgnd;
    background-image: url("../images/icon_task-list-pin.svg");
  }

  &.info {
    border-color: $tip;
    background-color: $tip-bkgnd;
    background-image: url("../images/icon_bulb-1.svg");
  }

  &.warning {
    border-color: $stop;
    background-color: $stop-bkgnd;
    background-image: url("../images/icon_hand-stop.svg");
  }

  &.todo {

  }

  &.important {} // refrenced in old code - actually used?
  &.warning {} // referenced in old code - actually used?
} // div.interstitial

// Padding and spacing for LTR vs RTL langauge defaults
:where(body[dir="ltr"]) div.interstitial { background-position: left top; padding-right: 1em; padding-left: 48px; }
:where(body[dir="rtl"]) div.interstitial { background-position: right top; padding-right: 48px; padding-left: 1em; }
