--color-bg-primary:          #222222;
--color-bg-secondary:        #000000;
--color-bg-tertiary:         #333333;

--color-border-primary:      #111111;
--color-border-tertiary:     #666666;

--color-text-primary:        #dddddd;
--color-text-secondary:      #eeeeee;
