--color-bg-primary:          #ffffff;
--color-bg-secondary:        #eeeeee;
--color-bg-tertiary:         #eeeeee;

--color-border-primary:      #111111;
--color-border-tertiary:     #cccccc;

--color-text-primary:        #333333;
--color-text-secondary:      #999999;
