<h2>
  Routes
</h2>

<p>
  Routes match in priority from top to bottom
</p>

<%# actionpack/lib/action_dispatch/middleware/templates %>
<%= render layout: "routes/route_wrapper" do %>
  <%= render partial: "routes/route", collection: @routes %>
<% end %>
