<h1>New <%= singular_name %></h1>

<%%= start_form_tag :action => 'create<%= @suffix %>' %>
  <%%= render :partial => 'form' %>
  <%%= submit_tag "Create" %>
<%%= end_form_tag %>

<%%= link_to 'Back', :action => 'list<%= suffix %>' %>
