<!DOCTYPE html>
<html>
<head>
  <title><%= camelized %></title>
  <%%= stylesheet_link_tag :all %>
  <%%= javascript_include_tag :defaults %>
  <%%= csrf_meta_tags %>
</head>
<body>

<%%= yield %>

</body>
</html>
