<h2>Ruby on Rails Guides (<%= @version %>)</h2>

<% if @edge %>
<p>
  These are <b>Edge Guides</b>, based on the current
  <a href="https://github.com/rails/rails/tree/master">master branch</a>.
</p>
<p>
  If you are looking for the ones for the stable version please check
  <a href="http://guides.rubyonrails.org">http://guides.rubyonrails.org</a> instead.
</p>
<% else %>
<p>
  These are the new guides for Rails 3. The guides for Rails 2.3 are still available
  at <a href="http://guides.rubyonrails.org/v2.3.11/">http://guides.rubyonrails.org/v2.3.11/</a>.
</p>
<% end %>
<p>
  These guides are designed to make you immediately productive with Rails,
  and to help you understand how all of the pieces fit together.
</p>
