<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

<title><%= yield(:page_title) || 'Ruby on Rails Guides' %></title>

<link rel="stylesheet" type="text/css" href="stylesheets/kindle.css" />

</head>
<body class="guide">

  <%= yield :header_section %>
  <div class="pagebreak">

  <%= yield :index_section %>
  <div class="pagebreak">

  <%= yield.html_safe %>

  <div class="pagebreak">
    
  <p>This work is licensed under a <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons Attribution-Share Alike 3.0</a> License</p>
  <p>"Rails", "Ruby on Rails", and the Rails logo are trademarks of David Heinemeier Hansson. All rights reserved.</p>

</body>
</html>
