<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">

  <title><%= yield(:page_title) || 'Ruby on Rails Guides' %></title>

  <link rel="stylesheet" type="text/css" href="stylesheets/kindle.css" />

</head>
<body class="guide">

  <% if content_for? :header_section %>
    <%= yield :header_section %>
    <div class="pagebreak">
  <% end %>

  <% if content_for? :index_section %>
    <%= yield :index_section %>
    <div class="pagebreak">
  <% end %>

  <%= yield.html_safe %>
</body>
</html>
