<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <title><%= class_name %>#<%= action %></title>
</head>   
<body>
<h1><%= class_name %>#<%= action %></h1>
<p>Find me in app/views/<%= file_name %>/<%= action %>.rhtml</p>
</body>
</html>
